/* Fifty shades of gray */
.jsxc_remotevideo, .jsxc_noRemoteVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  background-color: #a4a4a4; }

.jsxc_webrtc {
  width: 900px; }
  .jsxc_webrtc .jsxc_status {
    z-index: 9999;
    border-radius: 20px;
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px;
    font-weight: bold;
    text-align: center; }
  .jsxc_webrtc .slimScrollDiv {
    opacity: 1 !important; }
  .jsxc_webrtc li .jsxc_name {
    cursor: auto; }
    .jsxc_webrtc li .jsxc_name:hover {
      color: #939393; }

.jsxc_videoContainer {
  width: 640px;
  height: 480px;
  position: relative;
  background-color: #a4a4a4; }
  .jsxc_videoContainer video {
    display: none; }
  .jsxc_videoContainer .jsxc_noRemoteVideo {
    display: none; }

.jsxc_noRemoteVideo p {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  z-index: 100; }
.jsxc_noRemoteVideo > div {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px; }
  .jsxc_noRemoteVideo > div > div {
    background-color: #717171; }
    .jsxc_noRemoteVideo > div > div:first-child {
      width: 50%;
      height: 50%;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-left: -25%;
      top: 10%; }
    .jsxc_noRemoteVideo > div > div:last-child {
      position: absolute;
      bottom: -50%;
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.jsxc_localvideo {
  width: 160px;
  height: 120px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 9990;
  background-color: #000;
  cursor: pointer; }

div:full-screen {
  width: 100%;
  height: 100%;
  background-color: #000; }
  div:full-screen.jsxc_localvideo {
    border: 1px solid #fff; }
div:-webkit-full-screen {
  width: 100%;
  height: 100%;
  background-color: #000; }
div:-moz-full-screen {
  width: 100%;
  height: 100%;
  background-color: #000; }
div:-ms-fullscreen {
  width: 100%;
  height: 100%;
  background-color: #000; }
div:fullscreen {
  width: 100%;
  height: 100%;
  background-color: #000; }
  div:-webkit-full-screen.jsxc_localvideo {
  border: 1px solid #fff; }
  div:-moz-full-screen.jsxc_localvideo {
  border: 1px solid #fff; }
  div:-ms-fullscreen.jsxc_localvideo {
  border: 1px solid #fff; }
  div:fullscreen.jsxc_localvideo {
    border: 1px solid #fff; }
div.jsxc_video {
  background-image: url('img/camera_icon_grey.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px; }
  div.jsxc_video:not(.jsxc_disabled):hover {
    background-image: url('img/camera_icon_white.svg'); }

.jsxc_controlbar {
  width: 640px; }
  .jsxc_controlbar .jsxc_showchat {
    float: right; }

.jsxc_multi > div {
  display: none; }

.jsxc_snapshotbar {
  width: 100%;
  display: none; }
  .jsxc_snapshotbar img {
    height: 50px; }

.jsxc_buttongroup {
  display: inline; }
  .jsxc_buttongroup button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0; }
  .jsxc_buttongroup button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0; }

.jsxc_chatarea {
  position: relative;
  float: right;
  height: 480px;
  width: 250px;
  background-color: #A4A4A4; }
  .jsxc_chatarea .jsxc_settings {
    display: none !important; }
  .jsxc_chatarea .jsxc_close {
    display: none !important; }
  .jsxc_chatarea .jsxc_video {
    display: none !important; }
  .jsxc_chatarea .jsxc_window {
    bottom: 0;
    box-shadow: none; }
  .jsxc_chatarea > ul {
    width: 250px;
    height: 480px;
    list-style: none;
    padding: 0; }

.bubblingG {
  text-align: center;
  width: 129px;
  height: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -64px; }
  .bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 40px auto;
    background: #000;
    border-radius: 81px;
    -webkit-animation: bubblingG 1.3s infinite alternate;
            animation: bubblingG 1.3s infinite alternate; }

#bubblingG_1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

#bubblingG_2 {
  -webkit-animation-delay: 0.39s;
          animation-delay: 0.39s; }

#bubblingG_3 {
  -webkit-animation-delay: 0.78s;
          animation-delay: 0.78s; }

@-webkit-keyframes bubblingG {
  0% {
    width: 16px;
    height: 16px;
    background-color: #000;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    width: 39px;
    height: 39px;
    background-color: #FFFFFF;
    -webkit-transform: translateY(-34px);
            transform: translateY(-34px); } }

@keyframes bubblingG {
  0% {
    width: 16px;
    height: 16px;
    background-color: #000;
    -webkit-transform: translateY(0);
            transform: translateY(0); }

  100% {
    width: 39px;
    height: 39px;
    background-color: #FFFFFF;
    -webkit-transform: translateY(-34px);
            transform: translateY(-34px); } }

.jsxc_fullscreen.jsxc_localvideo {
  border: 1px solid #fff; }

.jsxc_videoSuitable .jsxc_name {
  font-style: italic; }

#jsxc_buddylist .jsxc_options .jsxc_video {
  background-image: url('img/camera_icon_white.svg'); }
  #jsxc_buddylist .jsxc_options .jsxc_video.jsxc_disabled {
    opacity: 0.2; }
