$white: #fff;
$white_80: rgba(255, 255, 255, 0.8);
$gallery: #efefef;
$alabaster: #fafafa;
$seashell: #f1f1f1;
$color_alice_blue_approx: #f1f7fd;

$color_casablanca_approx: #fbc14c;
$web_orange: #ffa500;

/* Fifty shades of gray */
$gray: #808080;
$color_delta_approx: #a4a4a4;
$color_nobel_approx: #b1b1b1;
$color_pale_slate_approx: #c3c3c3;
$color_celeste_approx: #ccc;
$color_silver_approx: #c1c1c1;
$color_quill_gray_approx: #d3d3d3;
$color_mountain_mist_50_approx: rgba(150, 150, 150, 0.5);
$color_suva_gray_approx: #888;
$color_chicago_approx: #595959;
$color_mountain_mist_approx: #939393;
$color_dove_gray_approx: #717171;
$color_ship_gray_approx: #383c43;
$color_log_cabin_approx: #282323;
$color_log_cabin_80_approx: rgba(40, 35, 35, 0.8);

$color_blue_approx: #00f;
$color_cerulean_approx: #00bfff;
$color_boston_blue_approx: #3f8fba;
$color_cadet_blue_approx: #a6b8c9;

$color_japanese_laurel_approx: #008000;
$color_fern_approx: #5cb85c;
$color_apple_approx: #4cae4c;
$color_snow_flurry_approx: #e6ffd1;
$color_moss_green_approx: #b4d89f;

$black: #000;
$black_40: rgba(0, 0, 0, 0.4);
$black_50: rgba(0, 0, 0, 0.5);

$red: #f00;
