@keyframes bounce {
    0% {
        bottom: 0;
        animation-timing-function: ease-in;
    }

    12% {
        bottom: 5px;
        animation-timing-function: ease-out;
    }

    25% {
        bottom: 0;
        animation-timing-function: ease-in;
    }

    37% {
        bottom: 5px;
        animation-timing-function: ease-out;
    }

    50% {
        bottom: 0;
        animation-timing-function: ease-in;
    }

    100% {
        bottom: 0;
    }
}
