#jsxc_roster {
    position: fixed;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 200px;
    overflow: visible;
    border-left: 4px solid $roster_border_left;
    z-index: 80;
    margin-left: 10px;
    box-shadow: 0px 0px 7px $shadow;
    background-color: $roster_bg;
    a {
        cursor: pointer;
    }
    .slimScrollDiv {
        left: -4px;
        margin-bottom: 30px;
        z-index: 40;
    }
    .jsxc_wait {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 160px;
        padding: 20px;
        background-color: $white;
        z-index: 60;
        img {
            padding: 5px;
        }
        h3 {
            margin-bottom: 5px;
            font-size: 1.13em;
            font-weight: bold;
        }
    }
    input {
        position: absolute;
        top: 50%;
        left: 31px;
        width: 157px;
        height: 18px;
        margin-top: -11px;
        padding: 2px;
        border: 0;
        background-image: none;
        background-color: $roster_input_bg;
        border-radius: 3px;
        box-shadow: inner 0 0 5px $roster_input_shadow;
        outline: none;
    }
    p {
        color: $roster_color;
        padding: 10px;
        a {
            color: $roster_a;
            text-decoration: underline;
        }
    }
    .jsxc_avatar {
        position: relative;
        cursor: pointer;
        img {
            cursor: pointer;
        }
    }
    .jsxc_expand input {
        left: 51px;
        width: 137px;
    }
    &.jsxc_noConnection {
    	.slimScrollDiv {
    		display: none;
    	}
    	> .jsxc_bottom {
    		display: none;
    	}
    }
}

#jsxc_toggleRoster {
    width: 14px;
    height: 100%;
    position: absolute;
    left: -14px !important;
    top: 0;
    z-index: 110;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: $roster_toggle_hover;
    }
}
#jsxc_roster> {
    &.jsxc_bottom {
        position: absolute;
        left: -4px;
        bottom: 0;
        height: 30px;
        width: 200px;
        border-left: 4px solid $roster_border_left;
        border-top: 1px solid $roster_bottom_border_top;
        padding-left: 0;
        background-color: $roster_bottom_bg;
        color: $roster_color;
        cursor: pointer;
        line-height: 30px;
        z-index: 50;
        ul {
            width: 190px;
            position: absolute;
            bottom: 30px;
            left: 0;
            display: none;
            border-top: 1px solid $roster_bottom_border_top;
            padding-left: 10px;
            background-color: $roster_bottom_bg;
            margin: 0;
            li:last-child {
                border-bottom: 1px solid $roster_bottom_border_top;
            }
        }
        li {
            height: 30px;
            background-color: $roster_bottom_bg;
            color: $roster_bottom_color;
            cursor: pointer;
            width: 180px;
            padding-left: 10px;
            line-height: 30px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.jsxc_disabled {
                color: $roster_bottom_disabled;
                cursor: default;
            }
            &:hover:not(.jsxc_disabled) {
                color: $roster_bottom_color_hover;
                background-color: $roster_bottom_bg_hover;
            }
        }
    }
    &.jsxc_bottom>div>span {
        cursor: pointer;
    }
    &.jsxc_bottom>div:hover {
        color: $roster_bottom_color_hover;
    }
}

