#jsxc_roster {
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    width: 200px;
    overflow: visible;
    border-left: 24px solid #A4A4A4;
    z-index: 80;
    margin-left: 10px;
    background-color: #383C43;
    transition: transform 0.3s;
    transform: translate3d(200px, 0, 0);
    a {
        cursor: pointer;
    }
    .slimScrollDiv {
        left: -4px;
        margin-bottom: 30px;
        z-index: 40;
    }
    .jsxc_wait {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 160px;
        padding: 20px;
        background-color: $white;
        z-index: 60;
        img {
            padding: 5px;
        }
        h3 {
            margin-bottom: 5px;
            font-size: 1.13em;
            font-weight: bold;
        }
    }
    input {
        position: absolute;
        top: 50%;
        left: 31px;
        width: 157px;
        height: 18px;
        margin-top: -11px;
        padding: 2px;
        border: 0;
        background-image: none;
        background-color: $white;
        border-radius: 3px;
        box-shadow: inner 0 0 5px $color_suva_gray_approx;
        outline: none;
    }
    p {
        color: $color_mountain_mist_approx;
        padding: 10px;
        a {
            color: $color_nobel_approx;
            text-decoration: underline;
        }
    }
    .jsxc_avatar {
        position: relative;
        cursor: pointer;
        img {
            cursor: pointer;
        }
    }
    .jsxc_expand input {
        left: 51px;
        width: 137px;
    }
}

#jsxc_toggleRoster_text {
    display: none;
    &:checked ~ #jsxc_roster {
        transform: translate3d(0, 0, 0);
        .entypo::before {
            content: '\e75e';
        }
    }

    ~ .entypo {
        position: absolute;
        top: 50%;
        z-index: 2;
        left: -16px;
    }
}
#jsxc_toggleRoster {
    width: 34px;
    height: 100%;
    position: absolute;
    left: -34px !important;
    top: 0;
    z-index: 110;
    background-color: transparent;
    cursor: pointer;
    display: table;
    &:hover {
        background-color: $color_delta_approx;
        opacity: 0.5;
    }
    ~ .entypo::before {
        content: '\e75d';
    }
}
#jsxc_roster> {
    &.jsxc_bottom {
        position: absolute;
        left: -4px;
        bottom: 0;
        height: 30px;
        width: 200px;
        border-left: 4px solid #A4A4A4;
        border-top: 1px solid $color_mountain_mist_approx;
        padding-left: 0;
        background-color: $color_log_cabin_approx;
        color: $color_mountain_mist_approx;
        cursor: pointer;
        line-height: 30px;
        z-index: 50;
        ul {
            width: 190px;
            position: absolute;
            bottom: 30px;
            left: 0;
            display: none;
            border-top: 1px solid $color_mountain_mist_approx;
            padding-left: 10px;
            background-color: $color_log_cabin_approx;
            margin: 0;
            li:last-child {
                border-bottom: 1px solid $color_mountain_mist_approx;
            }
        }
        li {
            height: 30px;
            background-color: $color_log_cabin_approx;
            color: $color_mountain_mist_approx;
            cursor: pointer;
            width: 180px;
            padding-left: 10px;
            line-height: 30px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.jsxc_disabled {
                color: $color_chicago_approx;
                cursor: default;
            }
            &:hover:not(.jsxc_disabled) {
                color: $white;
                background-color: #3F8FBA;
            }
        }
    }
    &.jsxc_bottom>div>span {
        cursor: pointer;
    }
    &.jsxc_bottom>div:hover {
        color: #FAFAFA;
    }
}

