.jsxc_online {
    border-left: 4px solid #00BFFF !important;
}
.jsxc_chat {
    border-left: 4px solid #00BFFF !important;
}
.jsxc_away {
    border-left: 4px solid $web_orange !important;
}
.jsxc_xa {
    border-left: 4px solid $web_orange !important;
}
.jsxc_dnd {
    border-left: 4px solid $red !important;
}
.jsxc_offline {
    border-left: 4px solid #A4A4A4 !important;
}
.jsxc_hidden {
    display: none;
}
.jsxc_invalid {
    border: 2px solid $red !important;
}

