.jsxc_webrtc {
	width: 900px;
}

.jsxc_webrtc li .jsxc_name {
	cursor: auto;
}

.jsxc_webrtc li .jsxc_name:hover {
	color: #939393;
}

.jsxc_videoContainer {
	width: 640px;
	height: 480px;
	position: relative;
	background-color: #a4a4a4;
}

.jsxc_videoContainer video, .jsxc_videoContainer .jsxc_noRemoteVideo {
	display: none;
}

.jsxc_remotevideo, .jsxc_noRemoteVideo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9000;
	background-color: #a4a4a4;
}

.jsxc_localvideo {
	width: 160px;
	height: 120px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 9990;
	background-color: black;
	cursor: pointer;
}

.jsxc_noRemoteVideo p {
	position: absolute;
	bottom: 0px;
	left:0px;
	text-align: center;
	color: #fff;
	width: 100%;
	z-index: 100;
}

.jsxc_noRemoteVideo > div {
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -100px;
}

.jsxc_noRemoteVideo > div > div {
	background-color: #717171;
}

.jsxc_noRemoteVideo > div > div:first-child {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -25%;
	top: 10%;
}

.jsxc_noRemoteVideo > div > div:last-child {
   position: absolute;
	bottom: -50%;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.jsxc_webrtc .jsxc_status {
	z-index: 9999;
	border-radius: 20px;
	display: none;
	position: absolute;
	top: 30px;
	left: 50%;
	background-color: lightgrey;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 15px;
	font-weight: bold;
	text-align: center;
}

.jsxc_webrtc .slimScrollDiv {
	opacity: 1 !important;
}

div:-moz-full-screen {
	width: 100%;
	height: 100%;
	background-color: black;
}

div:-ms-full-screen {
	width: 100%;
	height: 100%;
	background-color: black;
}

div:-webkit-full-screen {
	width: 100%;
	height: 100%;
	background-color: black;
}

div:fullscreen {
	width: 100%;
	height: 100%;
	background-color: black;
}

div:-moz-full-screen.jsxc_localvideo {
	border: 1px solid white;
}

div:-webkit-full-screen.jsxc_localvideo {
	border: 1px solid white;
}

div:-ms-full-screen.jsxc_localvideo {
	border: 1px solid white;
}

div:fullscreen.jsxc_localvideo {
	border: 1px solid white;
}

.jsxc_fullscreen.jsxc_localvideo {
	border: 1px solid white;
}

.jsxc_controlbar {
	width: 640px;
}

.jsxc_controlbar .jsxc_showchat {
	float: right;
}

.jsxc_multi>div {
	display: none;
}

.jsxc_snapshotbar {
	width: 100%;
	display: none;
}

.jsxc_snapshotbar img {
	height: 50px;
}

.jsxc_buttongroup {
	display: inline;
}

.jsxc_buttongroup button:first-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
}

.jsxc_buttongroup button:last-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;
}

.jsxc_chatarea {
	position: relative;
	float:right;
	height: 480px;
	width: 250px;
	background-color: #A4A4A4;
}

.jsxc_chatarea > ul {
	width: 250px;
	height: 480px;
	list-style: none;
	padding: 0px;
}

.jsxc_chatarea .jsxc_settings {
	display: none !important;
}

.jsxc_chatarea .jsxc_close {
	display: none !important;
}

.jsxc_chatarea .jsxc_video {
   display: none !important;
}

.jsxc_chatarea .jsxc_bar {

}

.jsxc_chatarea .jsxc_window {
	bottom: 0px;
	box-shadow: none;
}

.jsxc_videoSuitable .jsxc_name {
	font-style: italic;
}

div.jsxc_video {
   background-image: url('img/camera_icon_grey.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 15px 15px;
}

div.jsxc_video:not(.jsxc_disabled):hover, #jsxc_buddylist .jsxc_options .jsxc_video {
    background-image: url('img/camera_icon_white.svg');
}

#jsxc_buddylist .jsxc_options .jsxc_video.jsxc_disabled {
	opacity: 0.2;
}

.bubblingG {
text-align: center;
width:129px;
height:80px;
position: absolute;
top: 40%;
left: 50%;
margin-left: -64px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 16px;
height: 16px;
margin: 40px auto;
background: #000000;
-moz-border-radius: 81px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 81px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 81px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 81px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 81px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 16px;
height: 16px;
background-color:#000000;
-moz-transform: translateY(0);
}

100% {
width: 39px;
height: 39px;
background-color:#FFFFFF;
-moz-transform: translateY(-34px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 16px;
height: 16px;
background-color:#000000;
-webkit-transform: translateY(0);
}

100% {
width: 39px;
height: 39px;
background-color:#FFFFFF;
-webkit-transform: translateY(-34px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 16px;
height: 16px;
background-color:#000000;
-ms-transform: translateY(0);
}

100% {
width: 39px;
height: 39px;
background-color:#FFFFFF;
-ms-transform: translateY(-34px);
}

}

@-o-keyframes bubblingG {
0% {
width: 16px;
height: 16px;
background-color:#000000;
-o-transform: translateY(0);
}

100% {
width: 39px;
height: 39px;
background-color:#FFFFFF;
-o-transform: translateY(-34px);
}

}

@keyframes bubblingG {
0% {
width: 16px;
height: 16px;
background-color:#000000;
transform: translateY(0);
}

100% {
width: 39px;
height: 39px;
background-color:#FFFFFF;
transform: translateY(-34px);
}

}
