@import 'colors';

%fullscreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000;
    background-color: $color_delta_approx;
}

.jsxc_webrtc {
    width: 900px;
    .jsxc_status {
        z-index: 9999;
        border-radius: 20px;
        display: none;
        position: absolute;
        top: 30px;
        left: 50%;
        background-color: $black_50;
        color: $white;
        padding: 15px;
        font-weight: bold;
        text-align: center;
    }
    .slimScrollDiv {
        opacity: 1 !important;
    }
    li .jsxc_name {
        cursor: auto;
        &:hover {
            color: $color_mountain_mist_approx;
        }
    }
}
.jsxc_videoContainer {
    width: 640px;
    height: 480px;
    position: relative;
    background-color: $color_delta_approx;
    video {
        display: none;
    }
    .jsxc_noRemoteVideo {
        display: none;
    }
}
.jsxc_remotevideo {
    @extend %fullscreen;
}
.jsxc_noRemoteVideo {
    @extend %fullscreen;
    p {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        color: $white;
        width: 100%;
        z-index: 100;
    }
    > div {
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        margin-top: -100px;
        left: 50%;
        margin-left: -100px;
        > div {
            background-color: $color_dove_gray_approx;
            &:first-child {
                width: 50%;
                height: 50%;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                margin-left: -25%;
                top: 10%;
            }
            &:last-child {
                position: absolute;
                bottom: -50%;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}
.jsxc_localvideo {
    width: 160px;
    height: 120px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 9990;
    background-color: $black;
    cursor: pointer;
}
div {
    &:full-screen {
        width: 100%;
        height: 100%;
        background-color: $black;
        &.jsxc_localvideo {
            border: 1px solid $white;
        }
    }
    &:fullscreen {
        width: 100%;
        height: 100%;
        background-color: $black;
        &.jsxc_localvideo {
            border: 1px solid $white;
        }
    }
    &.jsxc_video {
        background-image: url('img/camera_icon_grey.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px 15px;
        &:not(.jsxc_disabled) {
            &:hover {
                background-image: url('img/camera_icon_white.svg');
            }
        }
    }
}
.jsxc_controlbar {
    width: 640px;
    .jsxc_showchat {
        float: right;
    }
}
.jsxc_multi>div {
    display: none;
}
.jsxc_snapshotbar {
    width: 100%;
    display: none;
    img {
        height: 50px;
    }
}
.jsxc_buttongroup {
    display: inline;
    button {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0;
        }
    }
}
.jsxc_chatarea {
    position: relative;
    float: right;
    height: 480px;
    width: 250px;
    background-color: #A4A4A4;
    .jsxc_settings {
        display: none !important;
    }
    .jsxc_close {
        display: none !important;
    }
    .jsxc_video {
        display: none !important;
    }
    .jsxc_bar {
    }
    .jsxc_window {
        bottom: 0;
        box-shadow: none;
    }
    > ul {
        width: 250px;
        height: 480px;
        list-style: none;
        padding: 0;
    }
}
.bubblingG {
    text-align: center;
    width: 129px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -64px;
    span {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin: 40px auto;
        background: $black;
        border-radius: 81px;
        animation: bubblingG 1.3s infinite alternate;
    }
}
#bubblingG_1 {
    animation-delay: 0s;
}
#bubblingG_2 {
    animation-delay: 0.39s;
}
#bubblingG_3 {
    animation-delay: 0.78s;
}
@keyframes bubblingG {
    0% {
        width: 16px;
        height: 16px;
        background-color: $black;
        transform: translateY(0);
    }
    100% {
        width: 39px;
        height: 39px;
        background-color: #FFFFFF;
        transform: translateY(-34px);
    }
}
.jsxc_fullscreen.jsxc_localvideo {
    border: 1px solid $white;
}
.jsxc_videoSuitable .jsxc_name {
    font-style: italic;
}
#jsxc_buddylist .jsxc_options .jsxc_video {
    background-image: url('img/camera_icon_white.svg');
    &.jsxc_disabled {
        opacity: 0.2;
    }
}
