<h3>{{Title}}</h3>
<form class="form-horizontal" data-type="form">
	{{{content}}}
   <br>
   <br>
   <div class="jsxc-buttons">
	    <button class="jsxc-button jsxc-button--primary jsxc-confirm jsxc-js-close" type="button">{{Close}}</button>
   </div>
</form>