<h3>{{t "Edit_avatar"}}</h3>

<form class="form-horizontal jsxc-avatarupload">
   <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc-account">{{t "Account"}}</label>
      <div class="col-sm-8">
         <select class="form-control" name="account" id="jsxc-account"></select>
      </div>
   </div>

   <div class="jsxc-avatarimage">
      <label>
         <div class="jsxc-avatar-upload-placeholer"></div>
         <input type="file" name="avatar" accept="image/gif,image/jpeg,image/png,.gif,.jpeg,.jpg,.png" />

         <button class="jsxc-button jsxc-button--primary jsxc-js-clear jsxc-delete-handle" type="button" value="remove">×</button>
      </label>
   </div>

   <div class="form-group">
      <div class="col-sm-12">
         <button class="jsxc-button jsxc-button--default jsxc-js-close" type="button">{{t "Cancel"}}</button>
         <button class="jsxc-button jsxc-button--primary jsxc-js-submit" type="submit" value="add" disabled="disabled">{{t "Save"}}</button>
      </div>
   </div>
</form>
