<div id="jsxc-window-list">
   <ul></ul>
</div>
<div id="jsxc-window-list-handler">
   <div class="jsxc-scrollLeft jsxc-disabled">&lt;</div>
   <div class="jsxc-scrollRight jsxc-disabled">&gt;</div>
</div>
