<li class="jsxc_min jsxc_windowItem">
   <div class="jsxc_window">
      <div class="jsxc_bar">
         <div class="jsxc_avatar">☺</div>
         <div class="jsxc_tools">
            <div class="jsxc_settings">
               <ul>
                  <li class="jsxc_fingerprints jsxc_otr jsxc_disabled" data-i18n="Fingerprints"></li>
                  <li class="jsxc_verification" data-i18n="Authentication"></li>
                  <li class="jsxc_transfer jsxc_otr jsxc_disabled" data-i18n="start_private"></li>
                  <li class="jsxc_clear" data-i18n="clear_history"></li>
               </ul>
            </div>
            <div class="jsxc_transfer jsxc_otr jsxc_disabled" />
            <div class="jsxc_close">×</div>
         </div>
         <div class="jsxc_unread" />
         <div class="jsxc_name" />
      </div>
      <div class="jsxc_fade">
         <div class="jsxc_gradient" />
         <div class="jsxc_textarea" />
         <div class="jsxc_emoticons">
            <ul />
         </div>
         <input type="text" class="jsxc_textinput" data-i18n="[placeholder]Message" />
      </div>
   </div>
</li>
