<li class="jsxc_windowItem">
   <div class="jsxc_window">
      <div class="jsxc_bar">
         <div class="jsxc_avatar jsxc_statusIndicator"></div>
         <div class="jsxc_tools">
            <div class="jsxc_settings">
               <div class="jsxc_more"></div>
               <div class="jsxc_inner jsxc_menu">
                  <ul>
                     <li>
                        <a class="jsxc_verification" href="#">
                           <span data-i18n="Authentication"></span>
                        </a>
                     </li>
                     <li>
                        <a class="jsxc_clear" href="#">
                           <span data-i18n="clear_history"></span>
                        </a>
                     </li>
                     <li>
                        <a class="jsxc_sendFile" href="#">
                           <span data-i18n="Send_file"></span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="jsxc_close">×</div>
         </div>
         <div class="jsxc_caption">
            <div class="jsxc_name" />
            <div class="jsxc_lastmsg">
               <span class="jsxc_unread" />
               <span class="jsxc_text" />
            </div>
            <div class="jsxc_status-msg" />
         </div>
      </div>
      <div class="jsxc_fade">
         <div class="jsxc_overlay">
            <div>
               <div class="jsxc_body" />
               <div class="jsxc_close" />
            </div>
         </div>
         <div class="jsxc_textarea" />
         <div class="jsxc_emoticons">
            <div class="jsxc_inner">
               <ul>
                  <li class="jsxc_clear"></li>
               </ul>
            </div>
         </div>
         <div class="jsxc_transfer jsxc_otr jsxc_disabled" />
         <textarea class="jsxc_textinput" data-i18n="[placeholder]Message"></textarea>
      </div>
   </div>
</li>
