<div class="jsxc-chatmessage jsxc-{{direction}}" id="{{id}}">
   <div class="jsxc-content">{{content}}</div>
   <div class="jsxc-error-content"></div>
   <div class="jsxc-chatmessage__footer">
      <div class="jsxc-sender"></div>
      <div class="jsxc-timestamp"></div>
      <div class="jsxc-transfer"></div>
      <div class="jsxc-mark"></div>
   </div>
</div>
