<div id="jsxc-window-list" class="jsxc-root-container">
   <ul></ul>
</div>
<div id="jsxc-window-list-handler" class="jsxc-root-container ">
   <div class="jsxc-scrollLeft jsxc-disabled">&lt;</div>
   <div class="jsxc-scrollRight jsxc-disabled">&gt;</div>
</div>
