<h3>{{t "Are_you_sure"}}</h3>

<p>{{{question}}}</p>

<button class="jsxc-button jsxc-button--primary jsxc-confirm jsxc-js-close" type="button">{{t "Confirm"}}</button>
<button class="jsxc-button jsxc-button--default jsxc-dismiss jsxc-js-close" type="button">{{t "Dismiss"}}</button>
