<h3>{{t "Are_you_sure"}}</h3>

<p>{{question}}</p>

<button class="jsxc-btn jsxc-btn-primary jsxc-confirm jsxc-close" type="button">{{t "Confirm"}}</button>
<button class="jsxc-btn jsxc-btn-default jsxc-dismiss jsxc-close" type="button">{{t "Dismiss"}}</button>
