<h3 data-i18n="Add_buddy"></h3>
<p class=".jsxc_explanation" data-i18n="Type_in_the_full_username_"></p>
<form>
   <p>
      <label for="jsxc_username" data-i18n="Username"></label>
      <input type="text" name="username" id="jsxc_username" list="jsxc_userlist" pattern="^[^\\x22&\'\\/:<>@\\s]+(@[.\\-_\\w]+)?" required="required" />
   </p>
   <datalist id="jsxc_userlist"></datalist>
   <p>
      <label for="jsxc_alias" data-i18n="Alias"></label>
      <input type="text" name="alias" id="jsxc_alias" />
   </p>
   <p class="jsxc_right">
      <input class="button" type="submit" data-i18n="[value]Add" />
   </p>
   <form>