<h3>{{t "contact_search"}}</h3>
<div class="jsxc-account-choice">
    <label class="col-sm-4 control-label" for="jsxc-account">{{t "Account"}}</label>
    <div class="col-sm-8">
     <select class="form-control" name="account" id="jsxc-account"></select>
    </div>
</div>
<div class="jsxc-content">
    {{t "loading"}}
</div>
<div class="jsxc-results"></div>