<div class="jsxc-dialog-wrapper" id="{{id}}">
   <div data-name="{{name}}" class="jsxc-dialog">
      <div class="jsxc-dialog__content">
         <div class="jsxc-dialog-close jsxc-js-close">×</div>

         {{{content}}}

         <div class="jsxc-clear"></div>
      </div>
   </div>
</div>
