<div>
   <p class="jsxc-max-width">{{t "OMEMO_devices"}}</p>

   <p><strong>{{t "OMEMO_peer_devices"}}</strong></p>
   <div class="jsxc-omemo-peerdevices"></div>

   <p><strong>{{t "OMEMO_own_devices"}}</strong></p>
   <div class="jsxc-omemo-owndevices"></div>
</div>
