<h3>{{t "extended-status"}}</h3>

<form class="form-horizontal">

   <div class="form-group">
      <div >
         <textarea name="extended_status_text" rows="4" cols="30" class="jsxc-exstatus-textarea"></textarea>
      </div>
   </div>

   <div class="form-group">
      <div >
         <button class="jsxc-button jsxc-button--default jsxc-js-close" type="button">{{t "Cancel"}}</button>
         <button class="jsxc-button jsxc-button--primary jsxc-js-save"  type="button" value="add">{{t "Save"}}</button>
         <button class="jsxc-button jsxc-button--primary jsxc-js-clear" type="button" value="remove">{{t "Remove"}}</button>
      </div>
   </div>
</form>