<h3 data-i18n="Join_chat"></h3>
<p class=".jsxc_explanation" data-i18n="muc_explanation"></p>
<div class="form-horizontal">
   <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc_server" data-i18n="Server"></label>
      <div class="col-sm-8">
         <input type="text" name="server" id="jsxc_server" class="form-control" required="required" pattern="^[.-0-9a-zA-Z]+" />
         <p class="jsxc_inputinfo jsxc_server jsxc_hidden"></p>
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc_room" data-i18n="Room"></label>
      <div class="col-sm-8">
         <input type="text" name="room" id="jsxc_room" class="form-control" autocomplete="off" list="jsxc_roomlist" required="required" pattern="^[^\x22&'\/:<>@\s]+" />
         <p class="jsxc_inputinfo jsxc_room" data-i18n="Rooms_are_loaded"></p>
      </div>
   </div>
   <datalist id="jsxc_roomlist">
      <p>
         <label for="jsxc_roomlist_select"></label>
         <select id="jsxc_roomlist_select">
            <option></option>
            <option>workaround</option>
         </select>
      </p>
   </datalist>
   <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc_nickname" data-i18n="Nickname"></label>
      <div class="col-sm-8">
         <input type="text" name="nickname" id="jsxc_nickname" class="form-control" />
      </div>
   </div>
   <div class="form-group jsxc_hidden">
      <label class="col-sm-4 control-label" for="jsxc_password" data-i18n="Password"></label>
      <div class="col-sm-8">
         <input type="text" name="password" id="jsxc_password" class="form-control" />
      </div>
   </div>
   <div class="form-group jsxc_bookmark">
      <div class="col-sm-offset-4 col-sm-8">
         <div class="checkbox">
            <label>
               <input id="jsxc_bookmark" type="checkbox"><span data-i18n="Bookmark"></span>
            </label>
         </div>
      </div>
   </div>
   <div class="form-group jsxc_bookmark">
      <div class="col-sm-offset-4 col-sm-8">
         <div class="checkbox disabled">
            <label>
               <input disabled="disabled" id="jsxc_autojoin" type="checkbox"><span data-i18n="Auto-join"></span>
            </label>
         </div>
      </div>
   </div>
   <div class="jsxc_msg"></div>
   <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
         <button class="btn btn-default jsxc_close" data-i18n="Close"></button>
         <button class="btn btn-primary jsxc_continue" data-i18n="Continue"></button>
         <button class="btn btn-success jsxc_join" data-i18n="Join"></button>
      </div>
   </div>
</div>
