<h3 data-i18n="Login"></h3>
<form>
   <p>
      <label for="jsxc_username" data-i18n="Username"></label>
      <input type="text" name="username" id="jsxc_username" required="required" value="{{my_node}}" />
   </p>
   <p>
      <label for="jsxc_password" data-i18n="Password"></label>
      <input type="password" name="password" required="required" id="jsxc_password" />
   </p>
   <div class="jsxc_alert jsxc_alert-warning" data-i18n="Sorry_we_cant_authentikate_"></div>
   <div class="bottom_submit_section">
      <button type="reset" class="jsxc_btn jsxc_close" name="clear" data-i18n="Cancel" />
      <button type="submit" class="jsxc_btn jsxc_btn-primary" name="commit" data-i18n="[data-jsxc-loading-text]Connecting...;Connect" />
   </div>
</form>
