<div id="jsxc_roster">
   <ul id="jsxc_buddylist"></ul>
   <div class="jsxc_bottom jsxc_presence jsxc_rosteritem" data-bid="own">
      <div id="jsxc_avatar" class="jsxc_avatar jsxc_statusIndicator" />
      <div id="jsxc_menu">
         <span></span>
         <div class="jsxc_inner">
            <ul>
               <li class="jsxc_settings jsxc_settingsicon" data-i18n="Settings"></li>
               <li class="jsxc_muteNotification" data-i18n="Mute"></li>
               <li class="jsxc_hideOffline" data-i18n="Hide_offline"></li>
               <li class="jsxc_addBuddy jsxc_contacticon" data-i18n="Add_buddy"></li>
               <li class="jsxc_onlineHelp jsxc_helpicon" data-i18n="Online_help"></li>
               <li class="jsxc_about" data-i18n="About"></li>
            </ul>
         </div>
      </div>
      <div id="jsxc_notice">
         <span></span>
         <div class="jsxc_inner">
            <ul></ul>
         </div>
      </div>
      <div id="jsxc_presence">
         <span data-i18n="Offline">Offline</span>
         <div class="jsxc_inner">
            <ul>
               <li data-pres="online" class="jsxc_online" data-i18n="Online"></li>
               <li data-pres="chat" class="jsxc_chat" data-i18n="Chatty"></li>
               <li data-pres="away" class="jsxc_away" data-i18n="Away"></li>
               <li data-pres="xa" class="jsxc_xa" data-i18n="Extended_away"></li>
               <li data-pres="dnd" class="jsxc_dnd" data-i18n="dnd"></li>
               <li data-pres="offline" class="jsxc_offline" data-i18n="Offline"></li>
            </ul>
         </div>
      </div>
   </div>
   <div id="jsxc_toggleRoster"></div>
</div>
