<li class="jsxc_rosteritem">
   <div class="jsxc_avatar jsxc_statusIndicator"></div>
   <div class="jsxc_more" />
   <div class="jsxc_caption">
      <div class="jsxc_name" />
      <div class="jsxc_lastmsg">
         <span class="jsxc_unread" />
         <span class="jsxc_text" />
      </div>
   </div>
   <div class="jsxc_menu">
      <ul>
         <li><a class="jsxc_rename" href="#"><span class="jsxc_icon jsxc_editicon"></span><span data-i18n="rename_buddy"></span></a></li>
         <li><a class="jsxc_vcard" href=""><span class="jsxc_icon jsxc_infoicon"></span><span data-i18n="get_info"></span></a></li>
         <li><a class="jsxc_delete" href=""><span class="jsxc_icon jsxc_deleteicon"></span><span data-i18n="delete_buddy"></span></a></li>
      </ul>
   </div>
</li>
