<li>
   <div class="jsxc_avatar">☺</div>
   <div class="jsxc_control"></div>
   <div class="jsxc_unread" />
   <div class="jsxc_name" />
   <div class="jsxc_options jsxc_right">
      <div class="jsxc_rename" data-i18n="[title]rename_buddy">✎</div>
      <div class="jsxc_delete" data-i18n="[title]delete_buddy">✘</div>
   </div>
   <div class="jsxc_options jsxc_left">
      <div class="jsxc_chaticon" data-i18n="[title]send_message" />
      <div class="jsxc_vcardicon" data-i18n="[title]get_info">i</div>
   </div>
</li>
