<div class="jsxc-vcard-result">
{{#*inline "list"}}
   <ul>
   {{#each properties}}
      <li>
         <div>{{name}}</div><div>{{value}}</div>
         {{#if properties}}
            {{> list}}
         {{/if}}
      </li>
   {{/each}}
   </ul>
{{/inline}}
{{> list}}
</div>
