{{#*inline "list"}}
<ul>
   {{#each properties}}
      <li>
         <strong>{{name}}</strong> {{value}}
         {{#if properties}}
            {{> list}}
         {{/if}}
      </li>
   {{/each}}
</ul>
{{/inline}}

{{> list}}
