<div id="jsxc-video-dialog">
   <div class="jsxc-chatarea">
      <ul></ul>
   </div>
   <div class="jsxc-video-container">
      <video class="jsxc-local-video" muted="true" volumne="0" autoplay></video>

      <div class="jsxc-status"></div>

      {{!-- <div class="jsxc-no-video">
         <div>
            <div></div>
            <p data-i18n="No_video_signal"></p>
            <div></div>
         </div>
      </div> --}}

      <div class="jsxc-controlbar jsxc-visible">
         <div>
            <div class="jsxc-hang-up jsxc-video-control"></div>
            <div class="jsxc-microphone jsxc-video-control"></div>
            <div class="jsxc-video jsxc-video-control"></div>
            <div class="jsxc-fullscreen jsxc-video-control"></div>
            <div class="jsxc-minmax jsxc-video-control"></div>
         </div>
      </div>
   </div>
</div>
