<div id="jsxc_webrtc">
   <div class="jsxc_chatarea">
      <ul></ul>
   </div>
   <div class="jsxc_videoContainer">
      <video class="jsxc_localvideo" autoplay></video>
      <video class="jsxc_remotevideo" autoplay></video>
      <div class="jsxc_status"></div>
      <div class="jsxc_noRemoteVideo">
         <div>
            <div></div>
            <p data-i18n="No_video_signal"></p>
            <div></div>
         </div>
      </div>
      <div class="jsxc_controlbar jsxc_visible">
         <div>
            <div class="jsxc_hangUp jsxc_videoControl" />
            <div class="jsxc_fullscreen jsxc_videoControl" />
         </div>
      </div>
   </div>
   <div class="jsxc_multi">
      <div class="jsxc_snapshotbar">
         <p>No pictures yet!</p>
      </div>
      <!--<div class="jsxc_chatarea">
                   <ul></ul>
               </div>-->
      <div class="jsxc_infobar"></div>
   </div>
</div>
