node_modules
*.zip
*.zip.sig
bower_components
archives/
/css/
dev/
.wti
*~
/tmp/
/lib/favico.js/
/lib/strophe.bookmarks
/lib/strophe.chatstates/
/lib/strophe.x/
/lib/almond/
/lib/jquery/
/lib/qunit/
/lib/requirejs/
/lib/sinon-qunit/
/lib/sinon/
/lib/strophe.js/
/lib/strophe.vcard/
/lib/emojione/
lib/i18next/
lib/jquery-i18next/
lib/magnific-popup/
.idea
/lib/strophejs-plugin-mam
/lib/strophejs-plugin-rsm
.github.json
