*.zip
*.zip.sig
/archives/
/.wti
*~
/tmp/
.idea
yarn-error.log
/.github/
/.vscode/
/example/
/scripts/
/test/
/.commitlintrc.json
/.gitignore
/.lgtm.yml
/.stylelintrc
/.travis.yml
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/ISSUE_TEMPLATE.md
/karma.conf.js
/tslint.json
/.editorconfig
/.env
/.stylelintcache
