dist: bionic

language: node_js

node_js:
  - 12

addons:
  chrome: stable

cache:
  yarn: true
  directories:
    - node_modules

script:
  - yarn checking-style-format
  - yarn checking-typescript-format
  - commitlint-travis
  - yarn test
