.jsxc_videoContainer {
	width: 640px;
	height: 480px;
	position: relative;
}

.jsxc_remotevideo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9000;
	background-color: grey;
}

.jsxc_localvideo {
	width: 160px;
	height: 120px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 9990;
	background-color: black;
	cursor: pointer;
}

.jsxc_webrtc .jsxc_status {
	z-index: 9999;
	border-radius: 20px;
	display: none;
	position: absolute;
	top: 30px;
	left: 50%;
	background-color: lightgrey;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 15px;
	font-weight: bold;
	text-align: center;
}

div:-moz-full-screen {
	width: 100%;
	height: 100%;
	background-color: black;
}

div:-ms-full-screen {
	width: 100%;
	height: 100%;
	background-color: black;
}

div:-webkit-full-screen {
	width: 100%;
	height: 100%;
	background-color: black;
}

div:fullscreen {
	width: 100%;
	height: 100%;
	background-color: black;
}

div:-moz-full-screen.jsxc_localvideo {
	border: 1px solid white;
}

div:-webkit-full-screen.jsxc_localvideo {
	border: 1px solid white;
}

div:-ms-full-screen.jsxc_localvideo {
	border: 1px solid white;
}

div:fullscreen.jsxc_localvideo {
	border: 1px solid white;
}

.jsxc_fullscreen.jsxc_localvideo {
	border: 1px solid white;
}

.jsxc_multi>div {
	display: none;
}

.jsxc_snapshotbar {
	width: 100%;
	display: none;
}

.jsxc_snapshotbar img {
	height: 50px;
}

.jsxc_buttongroup {
	display: inline;
}

.jsxc_buttongroup button:first-child {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: 0px;
}

.jsxc_buttongroup button:last-child {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;
}

.jsxc_chatarea {
	position: relative;
	height: 255px;
	display: none;
	background-color: #A4A4A4;
}

.jsxc_chatarea ul {
	position: absolute;
	left: 50%;
	top: 0px;
	width: 200px;
	height: 255px;
	list-style: none;
	padding: 0px;
	margin: 0px 0px 0px -100px;
}

.jsxc_chatarea .jsxc_settings {
	display: none;
}

.jsxc_chatarea .jsxc_close {
	display: none;
}

.jsxc_chatarea .jsxc_bar {
	display: none;
}

.jsxc_chatarea .jsxc_window {
	bottom: 0px;
	box-shadow: none;
}

.jsxc_videoSuitable .jsxc_name {
	font-style: italic;
}

div.jsxc_video {
   padding: 3px;
   width: 17px;
   height: 17px;
   background-image: url('img/camera_icon_grey.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 15px 15px;
   cursor: pointer;
   float: left;
}

div.jsxc_video.jsxc_disabled {
	opacity: 0.5;
	cursor: default;
}
