.jsxc_online,.jsxc_chat {
	border-left: 4px solid #00BFFF !important;
}

.jsxc_away,.jsxc_xa {
	border-left: 4px solid orange !important;
}

.jsxc_dnd {
	border-left: 4px solid red !important;
}

.jsxc_offline {
	border-left: 4px solid #A4A4A4 !important;
}

.jsxc_hidden {
	display: none;
}

.jsxc_invalid {
	border: 2px solid red !important;
}

p.jsxc_right {
	text-align: right;
}

p.jsxc_center {
	text-align: center;
}

/*############################ 
 *########## Dialog ########## 
 *############################*/
#jsxc_dialog {
	padding: 10px;
	min-width: 300px;
}

#jsxc_dialog p {
	margin-bottom: 1em;
}

#jsxc_dialog h3 {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}

#jsxc_dialog p input {
	margin-bottom: 5px;
	width: 60%;
	outline: none;
}

#jsxc_dialog p label {
	display: block;
	width: 30%;
	float: left;
	padding: 6px 0px;
}

#jsxc_dialog .jsxc_right {
	margin-top: 20px;
}

#jsxc_dialog p.jsxc_maxWidth {
	max-width: 500px;
}

#jsxc_dialog fieldset {
	border: 2px solid #ccc;
}

#jsxc_dialog legend {
	padding: 0px 10px;
	font-weight: bold;
}

#jsxc_dialog input {
	outline: none;
}

#jsxc_dialog input:invalid {
	border:1px solid red;
}

#jsxc_dialog .jsxc_fieldsetPriority {
	width: 200px;
	padding: 10px;
	border-radius: 3px;
}

#jsxc_dialog .jsxc_fieldsetPriority label {
	display: inline-block;
	width: 100px;
}

#jsxc_dialog .jsxc_fieldsetPriority input[type="Number"] {
   display: inline-block;
   width: 50px;
}

/*############################ 
 *########## Overall ######### 
 *############################*/
li .jsxc_name {
	overflow: hidden;
	height: 30px;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
}
li .jsxc_name:hover {
   color: #FAFAFA;
}

.jsxc_avatar,ul#jsxc_buddylist li:hover .jsxc_avatar {
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-top: 2px;
	margin-right: 4px;
	background-color: #a3a3a3;
	border-radius: 2px;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #b1b1b1;
	overflow: hidden;
	position: relative;
	font-family: Arial;
}

.jsxc_avatar img {
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0px;
	left: 0px;
}

/*############################ 
 *########## Roster ########## 
 *############################*/
div#jsxc_roster {
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 200px;
	overflow: visible;
	border-left: 4px solid #A4A4A4;
	z-index: 80;
	margin-left: 10px;
	box-shadow: 0px 0px 7px #000000;
}

div#jsxc_roster .slimScrollDiv {
	left: -4px;
	margin-bottom: 30px;
	z-index: 40;
}

div#jsxc_roster .jsxc_wait {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 160px;
	padding: 20px;
	background-color: #fff;
	z-index: 60;
}

div#jsxc_roster .jsxc_wait img {
	padding: 5px;
}

div#jsxc_roster .jsxc_wait h3 {
	margin-bottom: 5px;
	font-size: 1.13em;
	font-weight: bold;
}

/** Input field for alias renaming */
#jsxc_roster input {
	position: absolute;
	top: 50%;
	left: 31px;
	width: 157px;
	height: 18px;
	margin-top: -11px;
	padding: 2px;
	border: 0px;
	background-image: none;
	background-color: #fff;
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px #888;
	box-shadow: inner 0 0 5px #888;
	outline: none;
}

#jsxc_roster .jsxc_expand input {
   left: 51px;
   width: 137px;
}

div#jsxc_roster p {
	color: #939393;
}

div#jsxc_roster>.jsxc_bottom {
	position: absolute;
	left: -4px;
	bottom: 0px;
	height: 30px;
	width: 200px;
	border-left: 4px solid #A4A4A4;
	border-top: 1px solid #939393;
	padding-left: 0px;
	background-color: #282323;
	color: #939393;
	cursor: pointer;
	line-height: 30px;
	z-index: 50;
}

div#jsxc_roster>.jsxc_bottom>div:hover {
	color: #FAFAFA;
}

div#jsxc_roster>.jsxc_bottom>div>span {
	cursor: pointer;
}

div#jsxc_roster>.jsxc_bottom ul {
	width: 190px;
	position: absolute;
	bottom: 30px;
	left: 0px;
	display: none;
	border-top: 1px solid #939393;
	padding-left: 10px;
	background-color: #282323;
	margin: 0;
}

div#jsxc_roster>.jsxc_bottom li {
	height: 30px;
	background-color: #282323;
	color: #939393;
	cursor: pointer;
	width: 180px;
	padding-left: 10px;
	line-height: 30px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div#jsxc_roster>.jsxc_bottom li:hover:not(.jsxc_disabled ) {
	color: #fff;
	background-color: #3F8FBA;
}

div#jsxc_roster>.jsxc_bottom li.jsxc_disabled {
	color: #595959;
	cursor: default;
}

div#jsxc_roster>.jsxc_bottom ul li:last-child {
	border-bottom: 1px solid #939393;
}

#jsxc_menu,#jsxc_avatar,#jsxc_notice {
	height: 30px;
	width: 30px;
}

/** own avatar */
#jsxc_avatar {
	float: left;
	margin: 0px 2px;
	width: 25px;
}

#jsxc_menu {
	cursor: pointer;
	float: right;
	text-align: center;
	width: 25px;
}

#jsxc_menu>span {
	opacity: 0.5;
	display: block;
	width: 25px;
	height: 30px;
	background-image: url('img/gear_white.svg');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center center;
}

#jsxc_menu:hover>span {
	opacity: 1;
}

#jsxc_notice {
	float: right;
	text-align: center;
	line-height: 30px;
}

#jsxc_notice>span:empty {
	display: none;
}

#jsxc_notice span {
	background-color: #fbc14c;
	border-radius: 11px;
	color: black;
	font-size: 80%;
	padding: 2px;
}

#jsxc_presence {
	cursor: pointer;
	padding-left: 2px;
	overflow: hidden;
}

/** List of all buddies inside the roster */
ul#jsxc_buddylist {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 204px;
}

ul#jsxc_buddylist li {
	padding: 0px;
	margin: 0px;
	height: 30px;
	border-bottom: 1px solid #939393;
	cursor: pointer;
	width: 200px;
	position: relative;
	color: #939393;
	font-family: Arial;
	line-height: 30px;
	padding-left: 3px;
	z-index: 85;
	overflow: hidden;
}

ul#jsxc_buddylist li.jsxc_expand {
	height: 54px;
}

ul#jsxc_buddylist li.jsxc_expand .jsxc_avatar, ul#jsxc_buddylist li.jsxc_expand .jsxc_avatar img {
	width: 48px;
	height: 48px;
}

#jsxc_buddylist .jsxc_options {
    height: 20px;
    float: left;
    border-radius:2px;
    background-color: rgba(150, 150, 150, 0.5);
}
#jsxc_buddylist .jsxc_options > div {
    height: 20px;
    width: 20px;
    float: left;
    margin-right:0px 1px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
    cursor: pointer;
}
#jsxc_buddylist .jsxc_options > div:hover {
	opacity: 1;
}
#jsxc_buddylist .jsxc_chaticon {	
	background-image: url('img/speech_balloon_white.svg');
	background-size: 15px 15px;
}
#jsxc_buddylist .jsxc_videoicon { 
   background-image: url('img/camera_icon_white.svg');
   background-size: 13px 13px;
}
#jsxc_buddylist .jsxc_vcardicon {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: serif;
}

ul#jsxc_buddylist li:hover {
	
}

ul#jsxc_buddylist .jsxc_oneway {
	opacity: 0.7;
}
.jsxc_oneway .jsxc_avatar {
	-webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   filter: grayscale(100%);
}
ul#jsxc_buddylist .jsxc_right {
	float:left;
}
ul#jsxc_buddylist .jsxc_right {
	float: right;
	margin-right: 6px;
}

ul#jsxc_buddylist .jsxc_right div {
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	color: #fff;
}

ul#jsxc_buddylist li[data-type!="chat"] .jsxc_right {
	display: none;
}

ul#jsxc_buddylist .jsxc_right div:hover {
	opacity: 1.0;
}

ul#jsxc_buddylist .jsxc_rename {

}

ul#jsxc_buddylist .jsxc_delete {

}

#jsxc_roster .jsxc_avatar {
   position: relative;
   cursor: pointer;
}
#jsxc_roster .jsxc_avatar img {
   cursor: pointer;
}

#jsxc_roster .jsxc_avatar:after {
   content: '▼';
   display: block;
   text-align: center;
   width: 10px;
   height: 10px;
   line-height: 10px;
   font-size: 8px;
   position: absolute;
   bottom: 0px;
   right: 0px;
   border-radius: 2px;
   color:#000;
   background-color: #fff;
   opacity: 0;
}

#jsxc_roster .jsxc_avatar:hover:after {
   opacity: 1.0 !important;
}
#jsxc_roster li:hover .jsxc_avatar:after {
   opacity: 0.6;
}

div#jsxc_toggleRoster {
	width: 14px;
	height: 100%;
	position: absolute;
	left: -14px !important;
	top: 0px;
	z-index: 110;
	background-color: transparent;
	cursor: pointer;
}

#jsxc_toggleRoster:hover {
	background-color: #a4a4a4;
	opacity: 0.5;
}

/*############################ 
 *###### Window List ######### 
 *############################*/
div#jsxc_windowList {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	z-index: 50;
}

div#jsxc_windowList>ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-right: 210px;
	height: 30px;
	overflow: visible;
}

div#jsxc_windowList>ul>li {
	padding: 0px;
	margin: 0px;
	display: block;
	float: right;
	width: 250px;
	background-color: #282323;
	height: 30px;
	position: relative;
	overflow: visible;
	margin-right: 5px;
	cursor: pointer;
}

div#jsxc_windowList>ul>li.jsxc_min {
	width: 200px;
}

/*############################ 
 *######### Window ########### 
 *############################*/
div.jsxc_bar {
	background-color: #282323;
	cursor: pointer;
	height: 30px;
	line-height: 26px;
	padding: 2px;
	color: #939393;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

div.jsxc_cycle {
	position: absolute;
	bottom: 9px;
	right: 5px;
	height: 12px;
	width: 12px;
	border-radius: 6px;
}

div#jsxc_windowList>ul>li.jsxc_unreadMsg .jsxc_name {
	font-style: italic;
}

div#jsxc_windowList>ul>li.jsxc_unreadMsg .jsxc_cycle {
	background-color: orange;
}

/** Contains text area */
div.jsxc_window {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	background-color: #A4A4A4;
	z-index: 80;
	cursor: default;
}

div.jsxc_window .jsxc_emoticons {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 240px;
	right: 0px;
	cursor: pointer;
}

div.jsxc_window .jsxc_emoticons:after {
	content: ' ';
	background-image: url('img/smiley.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
}

div.jsxc_window .jsxc_emoticons:hover:after {
	opacity: 0.5;
}

div.jsxc_window .jsxc_emoticons ul {
	display: none;
	position: absolute;
	bottom: 33px;
	right: 3px;
	width: 210px;
	background-color: rgba(40, 35, 35, 0.8);
	padding: 3px;
	border-radius: 3px;
	z-index: 200;
}

div.jsxc_window .jsxc_emoticons ul:after {
	content: '';
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid rgba(40, 35, 35, 0.8);
	display: block;
	width: 0;
	z-index: 1;
	right: 6px;
	bottom: -6px;
}

div.jsxc_window .jsxc_emoticons li {
	float: right;
	cursor: pointer;
}

div.jsxc_window .jsxc_emoticons img {
	cursor: pointer;
	border-radius: 3px;
}

div.jsxc_window .jsxc_emoticons img:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

/** groups elements, which will be hidden, if the window is minimized. */
.jsxc_window .jsxc_fade {
	position: relative;
}

.jsxc_window .jsxc_gradient {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 15px;
	z-index: 100;
	background: -moz-linear-gradient(top, rgba(164, 164, 164, 1) 0%,
		rgba(40, 35, 35, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(164,
		164, 164, 1)), color-stop(100%, rgba(40, 35, 35, 0)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(164, 164, 164, 1) 0%,
		rgba(40, 35, 35, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(164, 164, 164, 1) 0%,
		rgba(40, 35, 35, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(164, 164, 164, 1) 0%,
		rgba(40, 35, 35, 0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a4a4a4 0%, rgba(40, 35, 35, 0)
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4a4a4',
		endColorstr='#00282323', GradientType=0); /* IE6-9 */
}

div.jsxc_window .jsxc_avatar {
	margin-top: 1px;
}

div.jsxc_window .jsxc_textarea {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 3px;
}

div.jsxc_window .slimScrollDiv {
	margin: 0px 0px 6px 0px;
}

div.jsxc_chatmessage {
	margin: 3px;
	padding: 4px;
	padding-right: 10px;
	max-width: 76%;
	word-wrap: break-word;
	background-color: #fff;
	position: relative;
	outline: none;
	clear: both;
}

div.jsxc_chatmessage a {
	color: blue;
	text-decoration: underline;
}

div.jsxc_chatmessage img {
	width: 19px;
	height: 19px;
}

/** incoming message */
div.jsxc_in {
	float: left;
	position: relative;
	margin-left: 10px;
	background: #f1f7fd;
	border: solid 1px #a6b8c9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.jsxc_in:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 6px 5px 0;
	border-color: transparent #f1f7fd;
	display: block;
	width: 0;
	z-index: 1;
	left: -6px;
	bottom: 10px;
}

div.jsxc_out.jsxc_received:before {
	content: '✓';
	position: absolute;
	bottom: 2px;
	right: 2px;
	font-size: 12px;
	line-height: 12px;
	color: green;
}

/** outgoing message */
div.jsxc_out {
	float: right;
	position: relative;
	margin-right: 10px;
	background: #e6ffd1;
	border: solid 1px #b4d89f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.jsxc_out:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 0 5px 6px;
	border-color: transparent #e6ffd1;
	display: block;
	width: 0;
	z-index: 1;
	right: -6px;
	bottom: 10px;
}

/** system message */
div.jsxc_sys {
	width: auto;
	max-width: none;
	padding-right: 4px;
	box-sizing: border-box;
	margin-right: 3px;
	border-radius: 3px;
}

.jsxc_window input.jsxc_textinput {
	width: 100%;
	height: 30px;
	margin: 0px;
	padding: 3px;
	padding-right: 40px;
	outline: none;
	border-radius: 0px;
	box-sizing: border-box;
	text-align: right;
}

.jsxc_window ::-webkit-input-placeholder {
	color: #000;
	opacity: 0.3;
}

.jsxc_window ::-moz-placeholder {
	color: #000;
	opacity: 0.3;
} /* firefox 19+ */
.jsxc_window :-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
} /* ie */
.jsxc_window input:-moz-placeholder {
	color: #000;
	opacity: 0.3;
}

div.jsxc_window .jsxc_tools {
	height: 26px;
	float: right;
}

.jsxc_min .jsxc_tools {
	display: none;
}

div.jsxc_window .jsxc_tools > div {
	width: 17px;
   height: 26px;
   display: block;
   float: left;
   color: #939393;
   font-family: Arial;
   line-height: 26px;
   cursor: pointer;
   text-align: center;
}

div.jsxc_settings {
	background-image: url('img/gear_grey.svg');
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: visible;
}

div.jsxc_settings:hover,div.jsxc_settings.hover {
	background-image: url('img/gear_white.svg');
}

div.jsxc_settings ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 0px;
	box-shadow: 0px 5px 5px -5px #000;
	z-index: 110;
	overflow: visible;
	background-color: #282323;
	display: none;
}

div.jsxc_settings li {
	width: 170px;
	margin-left: 20px;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	text-align: left;
}

div.jsxc_settings li:first-child {
	border-top: 1px solid #ccc;
}

div.jsxc_settings li:hover:not(.jsxc_disabled ){
	color: #fff;
	background-color: #3F8FBA;
}

div.jsxc_settings li.jsxc_disabled {
	color: #595959;
	cursor: default;
}

div.jsxc_transfer {
	background-image: url('img/padlock_open_grey.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 12px 12px;
}

div.jsxc_transfer:hover {
	background-image: url('img/padlock_open_white.svg');
}

div.jsxc_transfer.jsxc_fin {
	background-image: url('img/padlock_close_grey.svg');
}

div.jsxc_transfer.jsxc_enc {
	background-image: url('img/padlock_close_orange.svg');
}

div.jsxc_transfer.jsxc_enc.jsxc_trust {
	background-image: url('img/padlock_close_green.svg');
}

.jsxc_window .jsxc_close {
	font-size: 20px;
}

.jsxc_window .jsxc_close:hover {
	color: #FAFAFA;
}

#colorbox,#cboxWrapper {
	outline: none;
}

/*############################ 
 *######### Other ############ 
 *############################*/
ul.jsxc_vCard {
	min-width: 400px;
}

ul.jsxc_vCard ul {
	margin-left: 20px;
}

ul.jsxc_vCard li {
	cursor: default !important;
}

ul.jsxc_vCard strong {
	
}

img.jsxc_vCard {
	float: right;
	max-width: 200px;
	max-height: 200px;
}
