<div class="jsxc-menu {{classes}}">
    <div class="jsxc-menu__button {{button-classes}}">{{button-label}}</div>
    <div class="jsxc-menu__content">
        <ul>
            {{#if @partial-block}}
                {{> @partial-block }}
            {{/if}}
        </ul>
    </div>
</div>
