.jsxc-bar {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 44px;
  padding: 0 3px;
  position: relative;
  width: 100%;

  &__action-entry {
    color: $tools-color;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    float: left;
    font-family: $font-sans;
    height: 40px;
    line-height: 40px;
    min-width: 25px;
    opacity: 0.4;
    text-align: center;

    &.jsxc-menu {
      opacity: 1;
    }

    &.jsxc-disabled {
      cursor: default !important;
      opacity: 0.3;
    }

    .jsxc-minimized & {
      display: none;
    }
  }

  &__caption {
    box-sizing: border-box;
    min-width: 0; //workaround for text ellipsis

    * {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
    }

    &__secondary {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .jsxc-emoticon {
        vertical-align: middle;
      }
    }
  }

  &--has-unread-msg {
    .jsxc-bar__caption__secondary::before {
      background-color: #ffa500;
      border-radius: 50%;
      color: #fff;
      content: "";
      display: inline-block;
      height: 0.8em;
      line-height: 100%;
      margin-right: 0.2em;
      text-align: center;
      width: 0.8em;
    }
  }

  &--window {
    background-color: $window-bar-bg;
    color: $window-bar-color;
    max-width: 100%;
    transition: background-color 0.3s;
    width: $default-window-width;

    &:hover {
      .jsxc-normal & {
        color: $window-bar-color-hover;
      }
    }

    .jsxc-minimized & {
      background-color: $window-min-bar-bg;
      color: $window-min-bar-color;
    }

    .jsxc-highlight & {
      background-color: #ffa500;
    }
  }
}
