.jsxc-bar {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 44px;
  padding: 0 3px;
  position: relative;
  width: 100%;

  &__action-entry {
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    float: left;
    height: 40px;
    line-height: 40px;
    min-width: 25px;
    opacity: 0.4;
    text-align: center;

    &.jsxc-menu {
      opacity: 1;
    }

    &.jsxc-disabled {
      cursor: default !important;
      opacity: 0.3;
    }

    .jsxc-minimized & {
      display: none;
    }
  }

  &__caption {
    box-sizing: border-box;
    min-width: 0; //workaround for text ellipsis

    * {
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
    }

    &__secondary {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .jsxc-emoticon {
        vertical-align: middle;
      }
    }
  }

  &__tags {
    float: left;
    line-height: 0;
    padding-top: 2px;
  }

  &__tag {
    background-color: #bbb;
    border: 0;
    color: var(--jsxc-color-primary-text);
    display: inline-block;
    font-size: 8px;
    height: 12px;
    line-height: 12px;
    margin-right: 1px;
    max-width: 12px;
    overflow: hidden;
    padding: 0 0.5em;
    text-indent: 999px;
    text-overflow: clip;
    transition: max-width 0.5s;
    white-space: nowrap;
    width: 12px;

    &:hover {
      max-width: 999px;
      text-indent: unset;
      width: auto;
    }
  }

  &--has-unread-msg {
    .jsxc-bar__caption {
      font-weight: bold;
    }

    .jsxc-bar__caption__secondary {
      font-style: italic;

      &::before {
        background-color: $unread-bg;
        border-radius: 50%;
        color: $unread-color;
        content: "";
        display: inline-block;
        height: 0.8em;
        line-height: 100%;
        margin-right: 0.2em;
        text-align: center;
        width: 0.8em;
      }
    }
  }

  &--window {
    background-color: $window-bar-bg;
    color: $window-bar-color;
    max-width: 100%;
    transition: background-color 0.3s;
    width: $default-window-width;

    &:hover {
      .jsxc-normal & {
        color: $window-bar-color-hover;
      }
    }

    .jsxc-minimized & {
      background-color: $window-min-bar-bg;
      border: 1px solid $window-border;
      border-bottom: 0;
      color: $window-min-bar-color;
    }

    .jsxc-highlight & {
      background-color: $warning-bg;
    }
  }
}
