.jsxc-btn {
    width: auto;
    min-width: 25px;
    display: inline-block;
    padding: 6px 12px;
    margin: 0 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
   //  border: 1px solid transparent;
   //  border-radius: 4px;
    border: 0;
    padding: 10px 16px;
    transition: background-color 0.5s;

    &.jsxc-btn-default {
        border-color: #ccc;
        color: #555;
        background-color: rgba(240, 240, 240, 0.9);

        &:hover {
            background-color: #d6d6d6;
        }
    }

    &.jsxc-btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;

        &:hover {
            background-color: #296496;
        }
    }

    &.jsxc-btn-success {
        color: #fff;
        background-color: #6bad50;
        border-color: #487735;

        &:hover {
            background-color: #5a9443;
        }
    }

    &[disabled], &[disabled]:hover {
        opacity: 0.65;
        cursor: not-allowed;
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
}
