$emoticons: jabber, jsxc, klaus, nextcloud, xmpp, owncloud;

.jsxc-emoticon {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-size: contain;
    border: 0;
    vertical-align: bottom;

    &.jsxc-large {
        width: 40px;
        height: 40px;
        margin-bottom: 7px;

        #jsxc-roster & {
            width: 19px;
            height: 19px;
        }
    }

    @each $emoticon in $emoticons {
        &-#{$emoticon} {
            background: url("../images/emoticons/#{$emoticon}.svg");
        }
    }
}
