.jsxc-icon-edit {
    background-image: url("../img/edit_black.svg");
}

.jsxc-icon-delete {
    background-image: url("../img/delete_black.svg");
}

.jsxc-icon-chat {
    background-image: url("../img/speech_balloon_black.svg");
}

.jsxc-icon-video {
    background-image: url("../img/camera_icon_black.svg");
}

.jsxc-icon-info {
    background-image: url("../img/info_black.svg");
}

.jsxc-icon-setting {
    background-image: url("../img/gear_black.svg");
}

.jsxc-icon-help {
    background-image: url("../img/help_black.svg");
}

.jsxc-icon-contact {
    background-image: url("../img/contact_black.svg");
}

.jsxc-icon-groupcontact {
    background-image: url("../img/groupcontact_black.svg");
}

.jsxc-icon-bookmark {
    background-image: url("../img/bookmark_black.svg");
}

.jsxc-icon-announcement {
    background-image: url("../img/megaphone_icon_black.svg");
}
