.jsxc-icon-edit {
    background-image: image-url("edit_black.svg");
}

.jsxc-icon-delete {
    background-image: image-url("delete_black.svg");
}

.jsxc-icon-chat {
    background-image: image-url("speech_balloon_black.svg");
}

.jsxc-icon-video {
    background-image: image-url("camera_icon_black.svg");
}

.jsxc-icon-info {
    background-image: image-url("info_black.svg");
}

.jsxc-icon-setting {
    background-image: image-url("gear_black.svg");
}

.jsxc-icon-help {
    background-image: image-url("help_black.svg");
}

.jsxc-icon-contact {
    background-image: image-url("contact_black.svg");
}

.jsxc-icon-groupcontact {
    background-image: image-url("groupcontact_black.svg");
}

.jsxc-icon-bookmark {
    background-image: image-url("bookmark_black.svg");
}

.jsxc-icon-announcement {
    background-image: image-url("megaphone_icon_black.svg");
}
