.jsxc-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1em;
  display: block;
  min-height: 44px;
  width: 44px;

  @media (min-width: 768px) {
    width: 25px;
  }

  &--clickable {
    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  &--close {
    background-image: url("../images/close_black.svg");
  }

  &--close-light {
    background-image: url("../images/close_white.svg");
  }

  &--edit {
    background-image: url("../images/edit_black.svg");
  }

  &--delete {
    background-image: url("../images/delete_black.svg");
  }

  &--chat {
    background-image: url("../images/speech_balloon_black.svg");
  }

  &--video {
    background-image: url("../images/camera_icon_black.svg");
  }

  &--info {
    background-image: url("../images/info_black.svg");
  }

  &--setting {
    background-image: url("../images/gear_black.svg");
  }

  &--help {
    background-image: url("../images/help_black.svg");
  }

  &--contact {
    background-image: url("../images/contact_black.svg");
  }

  &--groupcontact {
    background-image: url("../images/groupcontact_black.svg");
  }

  &--bookmark {
    background-image: url("../images/bookmark_black.svg");
  }

  &--announcement {
    background-image: url("../images/megaphone_icon_black.svg");
  }

  &--emoticon {
    background-image: url("../images/smiley.svg");
  }

  &--more-dark {
    background-image: url("../images/more_black.svg");
  }

  &--more-light {
    background-image: url("../images/more_white.svg");
  }

  &--menu-dark {
    background-image: url("../images/menu_black.svg");
  }
}
