.jsxc-right {
    text-align: right;
}

.jsxc-center {
    text-align: center;
}

.jsxc-hidden {
    display: none;
}

.jsxc-clear {
    clear: both;
}

.jsxc-uppercase {
    text-transform: uppercase;
}

.jsxc-separator {
    border-top: 1px solid $separator;
}

.jsxc-name {
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.jsxc-max-width {
    max-width: 500px;
}

.jsxc-meta {
    text-align: right;
    font-style: italic;
}

.jsxc-invalid {
    border: 2px solid $invalid_border !important;
}

.jsxc-waiting:before {
    border-radius: 50%;
    content:'';
    display: inline-block;
    vertical-align: sub;
    animation: jsxc-rotate 1.1s infinite linear;
    border: 0.15em solid rgba(0,0,0, 0.2);
    border-left-color: rgba(0,0,0, 0.8);
    margin-right: 0.8em;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    height: 1.2em;
    width: 1.2em;
}

.jsxc-avatar {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: 0 5px;
    background-color: $avatar_bg;
    border-radius: 50%;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: $avatar_color;
    position: relative;
    font-family: $font_sans;
    background-size: cover;
    background-position: center center;

    img {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:before {
        position: absolute;
        top: -2px;
        left: -6px;
        border: 2px solid $roster_bg;
    }

    &-loading:after {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        border: 10px solid rgba(255,255,255,0.7);
        border-right-color: rgba(0,0,0,0.5);
        border-left-color: rgba(0,0,0,0.5);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px;
        animation: jsxc-rotate 1s infinite;
    }
}

ul.jsxc-vCard {
    min-width: 400px;

    ul {
        margin-left: 20px;
    }

    li {
        cursor: default !important;
    }
}

//  Spot which is attached to xmpp: uris
.jsxc-spot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-indent: -99999em;
    margin-top: 3px;
    margin-right: 5px;
    line-height: 100%;
    cursor: pointer;
    border: 1px solid $spot_border;
    background-color: $white;

    &:before {
        position: absolute;
    }

    &.jsxc-online, &.jsxc-chat, &.jsxc-away, &.jsxc-xa, &.jsxc-dnd, &.jsxc-offline {
        border: 0;
    }
}

.jsxc-unreadMsg {
    .jsxc-name {
        font-style: italic;
    }

    .jsxc-unread {
        display: block;
        background-color: $unread_bg;
        border-radius: 11px;
        color: $unread_color;
        font-size: 80%;
        padding: 2px;
        line-height: 15px;
        float: right;
        margin-right: 3px;
        margin-top: 4px;
    }
}

.jsxc-loading {
    margin: 0 auto;
    width: 32px;
    height: 32px;
    border: 0;
    background-size: 32px 32px !important;
    background: url("../images/loading.gif");
}

//  @TODO: check
#jsxc-login-form input[type='submit'] {
    height: 34px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    user-select: none;
    color: $white;
    background-color: $loginForm_bg;
    border-color: $loginForm_border;
}

.jsxc-oneway .jsxc-avatar {
    filter: grayscale(100%);
}

img.jsxc-vCard {
    float: right;
    max-width: 200px;
    max-height: 200px;
    border: 5px solid $white;
    border-radius: 2px;
}

.jsxc-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

    &.jsxc-alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
}

.jsxc-more {
    float: right;
    width: 44px;
    height: 100%;
    cursor: pointer;
    background-image: url("../images/more_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;

    &:hover {
        opacity: 1;
    }

    @media (min-width: 768px) {
        width: 25px;
    }
}

.jsxc-bar {
   cursor: pointer;
   height: 44px;
   padding: 2px;
   width: 100%;
   box-sizing: border-box;
   position: relative;
   display: flex;
   align-items: center;

   .jsxc-avatar {
      flex-shrink: 0;
   }

   .jsxc-action-entry {
      width: 25px;
      height: 40px;
      display: block;
      float: left;
      color: $tools_color;
      opacity: 0.4;
      font-family: $font_sans;
      line-height: 40px;
      cursor: pointer;
      text-align: center;
      flex-shrink: 0;

      &.jsxc-menu {
         opacity: 1;
      }

      &.jsxc-disabled {
         opacity: 0.3;
         cursor: default !important;
      }

      .jsxc-minimized & {
         display: none;
      }
   }

   .jsxc-grow {
      flex-grow: 1;
   }

   .jsxc-caption {
      box-sizing: border-box;
      flex-grow: 1;
      min-width: 0; //workaround for text ellipsis

      * {
         cursor: pointer;
      }

      .jsxc-subcaption {
         font-size: 12px;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;

         .jsxc-emoticon {
            vertical-align: middle;
         }
      }
   }

   &.jsxc-has-unread-msg {
      .jsxc-subcaption:before {
         content: '';
         line-height: 100%;
         color: #fff;
         text-align: center;
         display: inline-block;
         height: 0.8em;
         width: 0.8em;
         border-radius: 50%;
         background-color: orange;
         margin-right: 0.2em;
      }
   }
}

body.jsxc-fullscreen {
   #jsxc-roster {
      width: 100%;
      z-index: 50;
      border: 0;
      border-top: 62px solid #2a4163;
   }
   #jsxc-window-list {
      clip: auto;
      z-index: 100;

      .jsxc-window-item {
         position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         height: auto;
         width: auto;
         margin: 0;

         &.jsxc-minimized {
            display: none;
         }
      }

      .jsxc-window {
         position: absolute;
         right: 0;
         left: 0;
         top: 0;
         border: 0;
         background-color: #d4d2d2;
      }

      .jsxc-window-fade {
         position: absolute;
         top: 62px;
         right: 0;
         bottom: 0;
         left: 0;
         height: auto;
         width: auto;
      }
   }
   .jsxc-bar {
      height: 62px;
      width: auto;

      .jsxc-action-entry {
         height: 62px;
         width: 42px;
         background-size: 50%;
         &.jsxc-close {
            line-height: 62px;
            font-size: 2.5em;
         }
         .jsxc-more {
            width: 100%;
            background-size: auto 3vmin;
         }
         * {
            font-size: 1em;
         }
      }
   }
   .jsxc-send-area {
      padding: 0;
   }
   .jsxc-menu-emoticons, .jsxc-file-transfer, .jsxc-transfer {
      height: 62px;
      width: 62px;
      background-size: 50%;
   }
   .jsxc-transfer-icon {
      background-size: 50%;
      height: 62px;
   }
   .jsxc-highlight .jsxc-window-bar {
      background-color: $window_bar_bg;
   }
   .jsxc-roster-toggle {
      display: none;
   }
   #jsxc-roster > .jsxc-bottom li {
      height: 62px;
      line-height: 62px;
   }
}

body.jsxc-fullscreen.jsxc-two-columns {
   @media(min-width: 740px) {
      #jsxc-roster {
         width: 33%;
      }
      #jsxc-window-list {
         .jsxc-window-item {
            right: 33%;
         }
      }
   }
}
