.jsxc-menu {
  .jsxc-inner {
    bottom: 100%;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: max-height 0.5s;
    visibility: hidden;
  }

  &.jsxc-opened {
    .jsxc-inner {
      display: block;
      max-height: 1000px;
      visibility: visible;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border: 0;
    cursor: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.jsxc-menu-dropdown {
  .jsxc-inner {
    background-color: #fff;
    border-radius: 3px;
    bottom: auto;
    color: #333;
    display: none;
    filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
    margin: 8px 2px 5px 10px;
    overflow: visible;
    padding: 4px 12px 4px 5px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 110;

    &::after {
      border: solid transparent;
      border-bottom-color: #fff;
      border-color: rgba(238, 238, 238, 0);
      border-width: 10px;
      bottom: 100%;
      content: " ";
      height: 0;
      pointer-events: none;
      position: absolute;
      right: 6px;
      width: 0;
    }
  }

  a {
    color: #000;
    opacity: 0.5;
    white-space: nowrap;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

    &.jsxc-disabled {
      opacity: 0.5;
      text-decoration: line-through;

      &:hover {
        opacity: 0.5;
        text-decoration: line-through;
      }

      span {
        cursor: default;
      }
    }
  }

  .jsxc-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 16px;
    margin-right: 8px;
    vertical-align: sub;
    width: 16px;
  }
}
