.jsxc-online, .jsxc-chat, .jsxc-away, .jsxc-xa, .jsxc-dnd {
    &:before {
        content: " ";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        line-height: 12px;
        text-align: center;
        color: #fff;
        z-index: 99;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        box-sizing: content-box;
    }
}

.jsxc-online:before {
    background-color: $state_online;
}

.jsxc-chat:before {
    background-image: image-url("presence_chat.svg");
    background-color: $state_chat;
}

.jsxc-away:before {
    background-image: image-url("presence_away.svg");
    background-color: $state_away;
}

.jsxc-xa:before {
    background-image: image-url("presence_xa.svg");
    background-color: $state_xa;
}

.jsxc-dnd:before {
    background-image: image-url("presence_dnd.svg");
    background-color: $state_dnd;
}
