
#jsxc-video-dialog {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 9999;
   background-color: black;

   .jsxc-status {
      z-index: 9999;
      border-radius: 20px;
      display: none;
      position: absolute;
      top: 30px;
      left: 50%;
      background-color: $video_status_bg;
      color: $video_status_color;
      padding: 15px;
      font-weight: bold;
      text-align: center;
   }

   li .jsxc-name {
      cursor: auto;

      &:hover {
         color: $window_bar_color;
      }
   }
}

.jsxc-establishing,
.jsxc-ringing {
   &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 10;
   }
}

.jsxc-establishing:before {
   content: " ";
   display: block;
   width: 40px;
   height: 10px;
   box-sizing: border-box;
   background-color: $establishingColor1;
   animation-name: jsxc-establishing;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 20;
   margin-left: -20px;
   margin-top: -5px;
}

.jsxc-ringing:before {
   content: " ";
   display: block;
   width: 20px;
   height: 20px;
   box-sizing: border-box;
   background-color: $ringingColor1;
   border-radius: 50%;
   animation-name: jsxc-ringing;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 20;
   margin-left: -10px;
   margin-top: -10px;
}

.jsxc-video-container {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: $video_bg;

   &.jsxc-minimized {
      position: fixed;
      top: 10px;
      left: 10px;
      right: auto;
      bottom: auto;
      z-index: 99;
      background-color: transparent;
      box-shadow: 0 0 10px #a1a1a1;

      .jsxc-localvideo {
         position: static;
         display: block;
      }
   }

   video {
      display: none;
   }

   .jsxc-noRemoteVideo {
      display: none;
   }

   @media (min-width: 768px) {
      // right: 250px;

      .jsxc-controlbar {
         opacity: 0;
      }

      &:hover {
         .jsxc-controlbar {
            opacity: 1;
         }
      }
   }

   &[data-videos="1"] {
      .jsxc-video-wrapper {
         height: 100%;
         width: 100%;
      }
   }

   &[data-videos="2"] {
      .jsxc-video-wrapper {
         height: 100%;
         width: 100%;
      }
   }

   &[data-videos="3"] {
      .jsxc-video-wrapper {
         height: 50%;
         width: 50%;

         &:last-child {
            height: 50%;
            width: 100%;
         }
      }
   }

   &[data-videos="4"] {
      .jsxc-video-wrapper {
         height: 50%;
         width: 50%;
      }
   }
}

.jsxc-video-wrapper {
   background-color: green;
   position: relative;
   float: left;

   video {
      max-height: 100%;
      max-width: 100%;
   }
}

.jsxc-remote-video {
   @extend %fullscreen;
}

.jsxc-no-Video {
   @extend %fullscreen;

   p {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      color: $novideo_color;
      width: 100%;
      z-index: 100;
   }

   > div {
      width: 200px;
      height: 200px;
      overflow: hidden;
      position: absolute;
      top: 50%;
      margin-top: -100px;
      left: 50%;
      margin-left: -100px;

      > div {
         background-color: $novideo_bg;

         &:first-child {
            width: 50%;
            height: 50%;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            margin-left: -25%;
            top: 10%;
         }

         &:last-child {
            position: absolute;
            bottom: -50%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
         }
      }
   }
}

.jsxc-local-video {
   width: 160px;
   height: 120px;
   position: absolute;
   right: 10px;
   bottom: 10px;
   z-index: 9990;
   background-color: $black;
   cursor: move;
   transform: rotateY(180deg);
}

div {
   &:full-screen {
      width: 100%;
      height: 100%;
      background-color: $black;

      &.jsxc-localvideo {
         border: 1px solid $white;
      }
   }

   &:fullscreen {
      width: 100%;
      height: 100%;
      background-color: $black;

      &.jsxc-localvideo {
         border: 1px solid $white;
      }
   }

   &.jsxc-video {
      background-image: url("../img/camera_icon_white.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 15px 15px;
      opacity: 0.4;

      &.jsxc-disabled {
         background-image: url("../img/camera_disabled_icon_white.svg");
      }

      &:not(.jsxc-disabled) {
         &:hover {
            opacity: 1;
         }
      }
   }
}

.jsxc-controlbar {
   position: absolute;
   top: 50px;
   left: 0;
   right: 0;
   text-align: center;
   z-index: 9090;
   transition: 1s opacity;
   opacity: 0;

   @media (min-width: 768px) {
      bottom: 5%;
      top: initial;
   }

   &.jsxc-visible {
      opacity: 1;
   }

   > div {
      background-color: rgba(0, 0, 0, 0.5);
      height: 44px;
      border-radius: 22px;
      padding: 0 5px;
      display: inline-block;
   }

   .jsxc-videoControl {
      height: 44px;
      width: 44px;
      margin: 0 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 90%;
      cursor: pointer;
      display: inline-block;
      opacity: 0.8;

      &:hover {
         opacity: 1;
      }
   }

   .jsxc-hang-up {
      background-image: url("../img/hang_up_red.svg");
   }

   .jsxc-fullscreen {
      background-image: url("../img/fullscreen_white.svg");
   }

   .jsxc-showchat {
      float: right;
   }
}

.jsxc-buttongroup {
   display: inline;

   button {
      &:first-child {
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
         margin-right: 0;
      }

      &:last-child {
         border-top-left-radius: 0;
         border-bottom-left-radius: 0;
         margin-left: 0;
      }
   }
}

.jsxc-chatarea {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   width: 250px;
   background-color: $window_bg;
   display: none;

   @media (min-width: 768px) {
      display: block;
   }

   .jsxc-settings {
      display: none !important;
   }

   .jsxc-close {
      display: none !important;
   }

   .jsxc-video {
      display: none !important;
   }

   .jsxc-bar {}

   .jsxc-window {
      bottom: 0;
      box-shadow: none;
   }

   > ul {
      width: 100%;
      height: 100%;
      list-style: none;
      padding: 0;
   }
}

.jsxc-fullscreen.jsxc-localvideo {
   border: 1px solid $white;
}

.jsxc-videoSuitable .jsxc-name {
   font-style: italic;
}
