.jsxc-window {
   position: absolute;
   bottom: 0;
   top: auto;
   left: 0;
   right: 0;
   height: auto;
   background-color: $window_bg;
   z-index: 80;
   cursor: default;
   border: 1px solid $window_border;
   border-bottom: 0;

   &.jsxc-droppable.jsxc-dragactive {
      &:before {
         content: '';
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background-color: rgba(52, 70, 139, 0.2);
         z-index: 100;
      }
      &.jsxc-dragover:before {
         background-color: rgba(52, 70, 139, 0.56);
      }
   }

   .jsxc-showOverlay & {
      .jsxc-overlay {
         display: block !important;
      }
   }

   .jsxc-avatar {
      margin-top: 1px;
   }

   .jsxc-message-area {
      position: absolute;
      top: 0;
      right: 2px;
      bottom: 44px;
      left: 0;
      overflow: auto;
      padding: 3px;
      z-index: 10;

      @extend %scrollbar;
   }
   // .slimScrollDiv {
   //    margin: 0 0 6px;
   //    left: auto !important;
   //    top: auto !important;
   // }
   textarea {
      &.jsxc-message-input {
         width: 100%;
         height: 44px;
         margin: 0;
         padding: 14px 40px 12px;
         outline: none;
         border-radius: 0;
         box-sizing: border-box;
         border: 0;
         display: block;
         resize: none;
         transition: height 0.2s;
         font-size: 13px;
         position: absolute;
         bottom: 0;
      }

      &::placeholder {
         color: $window_placeholder;
         opacity: 0.3;
      }
   }

   .jsxc-close {
      font-size: 20px;

      &:hover {
         color: $window_close_hover;
         opacity: 1;
      }
   }

   .jsxc-more {
      background-image: url("../img/more_white.svg");
      opacity: 0.4;
   }
   // .ui-resizable-w {
   //    left: 0;
   // }
   //
   // .ui-resizable-nw {
   //    top: 0;
   //    left: 0;
   //    width: 15px;
   //    height: 15px;
   //    z-index: 95 !important;
   //    background-image: url("../img/resize_gray.svg");
   // }
   //
   // .ui-resizable-n {
   //    position: absolute;
   //    top: 0;
   //    left: 0;
   //    right: 0;
   //    height: 15px;
   //    z-index: 100;
   // }
}

.jsxc-window-bar {
   background-color: $window_bar_bg;
   color: $window_bar_color;
   transition: background-color 0.3s;

   &:hover {
      .jsxc-normal & {
         color: $window_bar_color_hover;
      }
   }

   .jsxc-minimized & {
      background-color: $window_min_bar_bg;
      color: $window_min_bar_color;
   }

   .jsxc-highlight & {
      background-color: orange;
   }
}

.jsxc-window-fade {
   position: relative;
   height: 320px;
   transition: height 0.2s;
   overflow: hidden;

   .jsxc-normal & {}

   .jsxc-minimized & {
      height: 0;
   }

   .jsxc-overlay {
      display: none;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      overflow-y: scroll;

      > div {
         background-color: #fff;
         margin: 30px 10px;
         padding: 5px;
         border-radius: 3px;
         text-align: center;
         position: relative;

         .jsxc-close {
            position: absolute;
            top: 0;
            right: 0;
            height: 44px;
            width: 44px;

            &:after {
               content: "×";
               position: absolute;
               top: 4px;
               right: 4px;
               font-size: 20px;
               font-family: Arial, sans-serif;
               cursor: pointer;
               color: #000;
               opacity: 0.4;
            }

            &:hover {
               &:after {
                  opacity: 1;
               }
            }
            @media (min-width: 768px) {
               width: 30px;
               height: 30px;
            }
         }

         .jsxc-body {
            margin-top: 20px;
         }

         p {
            margin-bottom: 10px;
         }

         li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }

         a:hover {
            text-decoration: underline;
         }
      }
   }
}

.jsxc-menu-emoticons {
   height: 44px;
   width: 44px;
   position: absolute;
   bottom: 0;
   left: 0;
   cursor: pointer;
   z-index: 30;

   &:after {
      content: " ";
      background-image: url("../img/smiley.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 30px 30px;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }

   .jsxc-inner {
      left: 5px;
   }

   ul {
      width: 217px;
      margin-bottom: 8px;
      background-color: $emoticon_selection_bg;
      border-radius: 3px;
      z-index: 200;
      list-style-type: none;
      padding: 3px;
      position: relative;

      &:after {
         content: " ";
         position: absolute;
         border-left: 8px solid transparent;
         border-right: 8px solid transparent;
         border-top: 8px solid $emoticon_selection_bg;
         display: block;
         width: 0;
         z-index: 1;
         left: 7px;
         top: 100%;
      }
   }

   li {
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      width: 30px;
      height: 30px;

      &:hover {
         background-color: $emoticon_selection_hover;
      }

      .jsxc-emoticon {
         width: 100%;
         height: 100%;
         background-size: contain;
      }
   }

   &:hover:after {
      opacity: 0.5;
   }
}

.jsxc-chatmessage {
   margin: 3px;
   padding: 4px;
   word-wrap: break-word;
   background-color: $chatmessage_bg;
   position: relative;
   outline: none;
   clear: both;

   &.jsxc-error {
      opacity: 0.7;

      &:before {
         content: " ";
         position: absolute;
         top: 3px;
         right: 3px;
         width: 8px;
         height: 8px;
         background-color: yellow;
      }
   }

   a {
      color: $chatmessage_a;
      text-decoration: underline;
      display: inline-block;
      max-width: 100%;
      position: relative;

      &[download]:before {
         content: " ";
         position: absolute;
         top: 0;
         right: 0;
         bottom: 5px;
         left: 0;
         border-radius: 3px;
         background-color: rgba(255, 255, 255, 0.7);
         background-image: url("../img/download_icon_black.svg");
         background-size: contain;
         background-position: center center;
         background-repeat: no-repeat;
         opacity: 0;
         transition: opacity 0.5s;
      }

      &[download]:hover {
         &:before {
            opacity: 0.6;
         }
      }
   }

   img {
      max-width: 100%;
   }

   .jsxc-avatar {
      display: none;
   }

   .jsxc-attachment {
      border-radius: 3px;
      background-color: #fff;
      padding: 3px 3px 3px 30px;
      min-height: 30px;
      margin-bottom: 5px;
      background-position: 3px center;
      background-size: 25px 25px;
      background-repeat: no-repeat;
      background-image: url("../img/filetypes/file.svg");

      img {
         border-radius: 3px;
      }

      &.jsxc-image {
         line-height: 0;
         padding: 0;
         background-image: url("");
         display: inline-block;
      }

      &.jsxc-application {
         background-image: url("../img/filetypes/application.svg");
      }

      &.jsxc-application-pdf {
         background-image: url("../img/filetypes/application-pdf.svg");
      }

      &.jsxc-audio {
         background-image: url("../img/filetypes/audio.svg");
      }

      &.jsxc-video {
         background-image: url("../img/filetypes/video.svg");
         opacity: 1;
      }

      &.jsxc-text {
         background-image: url("../img/filetypes/text.svg");
      }
   }
}

.jsxc-timestamp {
   font-size: 8px;
   color: $chatmessage_timestamp;
   line-height: 8px;
   overflow: hidden;
   white-space: nowrap;
   max-width: 100%;
   text-overflow: ellipsis;
   clear: both;
}

.jsxc-encrypted {
   &.jsxc-received.jsxc-out .jsxc-timestamp {
      margin-right: 1px;
   }

   .jsxc-timestamp:after {
      content: " ";
      display: inline-block;
      width: 10px;
      height: 8px;
      margin-left: 2px;
      background-image: url("../img/padlock_close_grey.svg");
      background-size: contain;
      background-repeat: no-repeat;
   }
}

.jsxc-in {
   float: left;
   position: relative;
   max-width: 76%;
   margin-left: 10px;
   border-radius: 3px;
   background-color: $chatmessage_in_bg;

   &:after {
      content: " ";
      position: absolute;
      border-style: solid;
      border-width: 5px 6px 5px 0;
      border-color: transparent $chatmessage_in_bg;
      display: block;
      width: 0;
      z-index: 1;
      left: -6px;
      bottom: 10px;
   }

   .jsxc-timestamp {
      float: left;
   }
}

.jsxc-out {
   float: right;
   position: relative;
   max-width: 76%;
   margin-right: 10px;
   padding-right: 10px;
   border-radius: 3px;
   background-color: $chatmessage_out_bg;

   &:after {
      content: " ";
      position: absolute;
      border-style: solid;
      border-width: 5px 0 5px 6px;
      border-color: transparent $chatmessage_out_bg;
      display: block;
      width: 0;
      z-index: 1;
      right: -6px;
      bottom: 10px;
   }

   &.jsxc-received {
      &:before {
         content: "✓";
         position: absolute;
         bottom: 2px;
         right: 2px;
         font-size: 12px;
         line-height: 12px;
         color: $chatmessage_received;
      }

      .jsxc-timestamp {
         margin-right: 4px;
      }
   }

   .jsxc-timestamp {
      float: right;
   }
}

.jsxc-sys {
   background-color: transparent;
   border-radius: 3px;
   box-sizing: border-box;
   font-size: 0.8em;
   font-style: italic;
   margin-right: 3px;
   max-width: none;
   padding-right: 4px;
   text-align: center;
   width: auto;

   .jsxc-emoticon {
      width: 1.2em;
      height: 1.2em;
      vertical-align: middle;
   }

   &.jsxc-composing {
      text-align: center;
      font-size: 0.9em;
      font-style: italic;
      display: block;
      opacity: 0;
      overflow: hidden;
      transition: opacity 0.6s;

      &:before {
         content: " ";
         width: 1.5em;
         height: 1em;
         display: inline-block;
         background-size: 80%;
         background-repeat: no-repeat;
         margin: 0 3px 0 0;
         background-image: url("../img/composing.png");
      }

      &.jsxc-fadein {
         opacity: 1;
      }
   }
}

.jsxc-menu-settings {
   position: relative;

   .jsxc-inner {
      left: auto;
      top: 100%;
      right: -6px;
   }
}

div.jsxc-transfer {
   background-image: url("../img/padlock_open_black.svg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 14px 14px;
   opacity: 0.3;
   height: 44px;
   width: 44px;
   position: absolute;
   bottom: 0;
   right: 0;
   cursor: pointer;
   z-index: 20;

   &:hover {
      opacity: 1;
   }

   &.jsxc-disabled {
      background-image: url("../img/padlock_open_disabled_black.svg");
      cursor: default;

      &:hover {
         opacity: 0.3;
      }
   }

   &.jsxc-fin {
      opacity: 1;
      background-image: url("../img/padlock_close_grey.svg");
   }

   &.jsxc-enc {
      opacity: 1;
      background-image: url("../img/padlock_close_orange.svg");

      &.jsxc-trust {
         background-image: url("../img/padlock_close_green.svg");
      }
   }
}

.jsxc-mam-load-more {
   display: none;
   font-size: 0.8em;
   height: 42px;
   left: 0;
   line-height: 42px;
   position: absolute;
   right: 0;
   text-align: center;
   top: -42px;
   transition: top 0.5s;
   z-index: 80;

   span {
      background-color: #e4e4e4;
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
         background-color: #dfcfcf;
         opacity: 1;
      }
   }

   &.jsxc-show {
      top: 0;
   }
}

.jsxc-mam-enabled {
   .jsxc-mam-load-more {
      display: block;
   }

   .jsxc-message-area {
      padding-top: 42px;
   }
}
