.jsxc-window {
  background-color: $window-bg;
  border: 1px solid $window-border;
  border-bottom: 0;
  cursor: default;
  height: auto;
  max-width: 100%;
  position: relative;
  z-index: 80;

  &.jsxc-droppable.jsxc-dragactive,
  &.jsxc-dragover {
    &::before {
      background-color: rgb(52, 70, 139);
      background-image: url("../images/drop_white.svg");
      background-position: center center;
      background-repeat: no-repeat;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 100;
    }
  }

  &.jsxc-droppable.jsxc-dragactive::before {
    opacity: 0.2;
  }

  &.jsxc-dragover::before {
    background-image: url("../images/dragover_white.svg") !important;
    opacity: 0.56 !important;
  }

  .jsxc-show-overlay & {
    .jsxc-overlay {
      display: block !important;
    }
  }

  .jsxc-avatar {
    margin-top: 1px;
  }

  .jsxc-message-area {
    @extend %scrollbar;
    flex-grow: 1;
    left: 0;
    overflow: auto;
    padding: 3px;
    width: 100%;
    z-index: 10;
  }

  .jsxc-close {
    font-size: 20px;

    &:hover {
      color: $window-close-hover;
      opacity: 1;
    }
  }
}

.jsxc-window-fade {
  display: flex;
  flex-direction: column;
  height: 320px;
  max-width: 100%;
  min-height: 320px;
  min-width: $default-window-width;
  overflow: hidden;
  position: relative;
  transform: none !important;
  transition: height 0.2s;
  width: $default-window-width;

  .jsxc-minimized & {
    height: 0 !important;
    min-height: 0;
    min-width: 100%;
  }

  .jsxc-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    >div {
      background-color: #fff;
      border-radius: 3px;
      margin: 30px 10px;
      padding: 5px;
      position: relative;
      text-align: center;

      .jsxc-close {
        height: 44px;
        position: absolute;
        right: 0;
        top: 0;
        width: 44px;

        &::after {
          color: #000;
          content: "×";
          cursor: pointer;
          font-family: Arial, sans-serif;
          font-size: 20px;
          opacity: 0.4;
          position: absolute;
          right: 4px;
          top: 4px;
        }

        &:hover {
          &::after {
            opacity: 1;
          }
        }
        @media (min-width: 768px) {
          height: 30px;
          width: 30px;
        }
      }

      .jsxc-body {
        margin-top: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .resizable-handle {
    z-index: 99;
  }

  .resizable-handle-nw {
    background-image: url("../images/resize_gray.svg");
    margin-left: 5px;
    margin-top: 5px;
    z-index: 100 !important;
  }

  .resizable-handle-n {
    margin-top: 5px;
  }

  .resizable-handle-w {
    margin-left: 5px;
  }
}

.jsxc-preview {
  flex-shrink: 0;
  font-size: 0.8em;
  max-height: 130px;
  overflow: hidden;
  text-align: center;

  .jsxc-attachment {
    margin: 10px;
    position: relative;
  }

  .jsxc-image {
    border-radius: 5px;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;

    img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }
  }
}

.jsxc-delete-handle {
  background-color: #dc4c4c;
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 3em;
  height: 1em;
  line-height: 0.65em;
  margin-right: -10px;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 1em;
  z-index: 100;

  &:hover {
    background-color: #f00;
  }
}

.jsxc-send-area {
  align-items: flex-end;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-shrink: 0;
  padding: 2px 0;
  width: 100%;

  .jsxc-menu-emoticons,
  .jsxc-file-transfer,
  .jsxc-transfer {
    flex-shrink: 0;
  }

  .jsxc-message-input {
    flex-grow: 1;
  }

  &.jsxc-contains-val {
    .jsxc-file-transfer,
    .jsxc-transfer {
      display: none;
    }
  }
}

.jsxc-message-input {
  @extend %scrollbar;
  border: 0;
  border-radius: 0;
  box-sizing: content-box;
  display: block;
  font-size: 1em;
  height: 1.4em;
  line-height: 1.4em;
  margin: 0;
  min-height: auto;
  outline: none;
  padding: 10px 5px 5px 0;
  resize: none;
  transition: height 0.2s;

  &::placeholder {
    color: $window-placeholder;
    opacity: 0.3;
  }

  .jsxc-large-send-area & {
    height: 100px;
  }
}

.jsxc-file-transfer {
  background-image: url("../images/attachment.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: pointer;
  height: 40px;
  opacity: 0.3;
  overflow: hidden;
  position: relative;
  width: 44px;

  label {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 0;
  }

  &:hover {
    opacity: 0.5;
  }
  @media (min-width: 768px) {
    width: 34px;
  }
}

.jsxc-menu-emoticons {
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 44px;
  z-index: 30;

  &::after {
    background-image: url("../images/smiley.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    bottom: 0;
    content: " ";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.jsxc-chatmessage {
  background-color: $chatmessage-bg;
  clear: both;
  font-size: 14px;
  margin: 3px;
  outline: none;
  padding: 4px;
  position: relative;
  word-wrap: break-word;

  &.jsxc-error {
    .jsxc-content {
      opacity: 0.7;
    }

    &::before {
      background-color: #ff0;
      border-radius: 50%;
      box-shadow: 0 0 2px #000;
      color: #f00;
      content: "⚠";
      font-size: 1em;
      height: 1.2em;
      line-height: 1em;
      position: absolute;
      right: -2px;
      text-align: center;
      top: -2px;
      width: 1.2em;
    }
  }

  p {
    clear: both;
    font-size: 1em;
    margin: 0;
  }

  a {
    color: $chatmessage-a;
    display: inline-block;
    max-width: 100%;
    position: relative;
    text-decoration: underline;

    &[download]::before {
      background-color: rgba(255, 255, 255, 0.7);
      background-image: url("../images/download_icon_black.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 3px;
      bottom: 5px;
      content: " ";
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.5s;
    }

    &[download]:hover {
      &::before {
        opacity: 0.6;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .jsxc-avatar {
    display: none;
  }

  .jsxc-quote {
    border-left: 3px solid #999;
    display: inline-block;
    opacity: 0.7;
    padding: 0 3px 0 5px;
    width: 100%; // margin-bottom: 5px;
  }
}

.jsxc-attachment {
  background-color: #fff;
  background-image: url("../images/filetypes/file.svg");
  background-position: 3px center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-radius: 3px;
  margin-bottom: 5px;
  min-height: 30px;
  padding: 3px 3px 3px 30px;

  img {
    border-radius: 3px;
  }

  &.jsxc-image-jpeg,
  &.jsxc-image-jpg,
  &.jsxc-image-svg,
  &.jsxc-image-gif,
  &.jsxc-image-png {
    background-image: url("");
    display: inline-block;
    line-height: 0;
    padding: 0;
  }

  &.jsxc-application {
    background-image: url("../images/filetypes/application.svg");
  }

  &.jsxc-application-pdf {
    background-image: url("../images/filetypes/application-pdf.svg");
  }

  &.jsxc-audio {
    background-image: url("../images/filetypes/audio.svg");
  }

  &.jsxc-video {
    background-image: url("../images/filetypes/video.svg");
    opacity: 1;
  }

  &.jsxc-text {
    background-image: url("../images/filetypes/text.svg");
  }
}

.jsxc-timestamp {
  clear: both;
  color: $chatmessage-timestamp;
  font-size: 0.5em;
  line-height: 1.2em;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jsxc-encrypted {
  &.jsxc-received.jsxc-out .jsxc-timestamp {
    margin-right: 1px;
  }

  .jsxc-timestamp::after {
    background-image: url("../images/padlock_close_grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
    display: inline-block;
    height: 8px;
    margin-left: 2px;
    width: 10px;
  }
}

.jsxc-unread {
  .jsxc-timestamp::before {
    background-color: $unread-bg;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 0.8em;
    margin-right: 2px;
    width: 0.8em;
  }
}

.jsxc-in {
  background-color: $chatmessage-in-bg;
  border-radius: 3px;
  float: left;
  margin-left: 10px;
  max-width: 76%;
  position: relative;

  &::after {
    border-color: transparent $chatmessage-in-bg;
    border-style: solid;
    border-width: 5px 6px 5px 0;
    bottom: 10px;
    content: " ";
    display: block;
    left: -6px;
    position: absolute;
    width: 0;
    z-index: 1;
  }

  .jsxc-timestamp {
    float: left;
  }
}

.jsxc-out,
.jsxc-probably_out {
  border-radius: 3px;
  float: right;
  margin-right: 0.8em;
  max-width: 76%;
  padding-right: 10px;
  position: relative;

  &::after {
    border-color: transparent #fff;
    border-style: solid;
    border-width: 0.7em 0 0.7em 0.7em;
    bottom: 0.5em;
    content: " ";
    display: block;
    left: 100%;
    position: absolute;
    width: 0;
    z-index: 1;
  }

  &.jsxc-received {
    &::before {
      bottom: 2px;
      color: $chatmessage-received;
      content: "✓";
      font-size: 12px;
      line-height: 12px;
      position: absolute;
      right: 2px;
    }

    .jsxc-timestamp {
      margin-right: 4px;
    }
  }

  .jsxc-timestamp {
    float: right;
  }
}

.jsxc-out {
  background-color: $chatmessage-out-bg;

  &::after {
    border-color: transparent $chatmessage-out-bg;
  }
}

.jsxc-sys {
  background-color: transparent;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 0.8em;
  font-style: italic;
  margin-right: 3px;
  max-width: none;
  padding-right: 4px;
  text-align: center;
  width: auto;

  .jsxc-emoticon {
    height: 1.2em;
    vertical-align: middle;
    width: 1.2em;
  }

  &.jsxc-composing {
    display: block;
    font-size: 0.9em;
    font-style: italic;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    transition: opacity 0.6s;

    &::before {
      background-image: url("../images/composing.png");
      background-repeat: no-repeat;
      background-size: 80%;
      content: " ";
      display: inline-block;
      height: 1em;
      margin: 0 3px 0 0;
      width: 1.5em;
    }

    &.jsxc-fadein {
      opacity: 1;
    }
  }
}

div.jsxc-transfer {
  position: relative;
  z-index: 20;

  &:hover {
    .jsxc-transfer-icon {
      opacity: 0.5;
    }
  }

  .jsxc-transfer-icon {
    background-image: url("../images/padlock_open_black.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    cursor: pointer;
    display: block;
    height: 40px;
    opacity: 0.3;
    width: 100%;
  }

  &.jsxc-disabled {
    .jsxc-transfer-icon {
      background-image: url("../images/padlock_open_disabled_black.svg");
      cursor: default;
    }

    &:hover {
      .jsxc-transfer-icon {
        opacity: 0.3;
      }
    }
  }

  &.jsxc-fin {
    .jsxc-transfer-icon {
      background-image: url("../images/padlock_close_grey.svg");
      opacity: 1;
    }
  }

  &.jsxc-enc {
    .jsxc-transfer-icon {
      background-image: url("../images/padlock_close_orange.svg");
      opacity: 1;
    }

    &.jsxc-trust {
      .jsxc-transfer-icon {
        background-image: url("../images/padlock_close_green.svg");
      }
    }
  }

  @media (min-width: 768px) {
    width: 34px;
  }
}

.jsxc-mam-load-more {
  display: none;
  font-size: 0.8em;
  height: 42px;
  left: 0;
  line-height: 42px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -42px;
  transition: top 0.5s;
  user-select: none;
  z-index: 80;

  span {
    background-color: #e4e4e4;
    cursor: pointer;
    padding: 5px 10px;

    &:hover {
      background-color: #dfcfcf;
      opacity: 1;
    }
  }

  &.jsxc-show {
    top: 0;
  }
}

.jsxc-mam-enabled {
  .jsxc-mam-load-more {
    display: block;
  }

  .jsxc-message-area {
    padding-top: 42px;
  }
}
