.jsxc-window {
  background-color: $window-bg;
  border: 1px solid $window-border;
  border-bottom: 0;
  border-radius: 0.8em 0.8em 0 0;
  box-sizing: border-box;
  cursor: default;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 80;

  &.jsxc-droppable.jsxc-dragactive,
  &.jsxc-dragover {
    &::before {
      background-color: rgb(52, 70, 139);
      background-image: url("../images/drop_white.svg");
      background-position: center center;
      background-repeat: no-repeat;
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 100;
    }
  }

  &.jsxc-droppable.jsxc-dragactive::before {
    opacity: 0.2;
  }

  &.jsxc-dragover::before {
    background-image: url("../images/dragover_white.svg") !important;
    opacity: 0.56 !important;
  }

  .jsxc-avatar {
    margin-top: 1px;
  }

  .jsxc-message-area {
    @extend %scrollbar;
    background-image: url("../images/resize_gray.svg");
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    left: 0;
    overflow: auto;
    padding: 3px;
    width: 100%;
    z-index: 10;
  }

  .jsxc-close {
    font-size: 20px;

    &:hover {
      color: $window-close-hover;
      opacity: 1;
    }
  }

  &__overlay {
    @extend %scrollbar;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;

    &--show {
      display: flex;
    }

    &__inner {
      background-color: #fff;
      border-radius: 3px;
      padding: 5px;
      text-align: center;
    }

    &__content {
      margin-top: 20px;

      p {
        margin-bottom: 10px;
      }

      li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    &__close {
      height: 44px;
      position: absolute;
      right: 0;
      top: 0;
      width: 44px;

      &::after {
        color: #000;
        content: "×";
        cursor: pointer;
        font-family: Arial, sans-serif;
        font-size: 20px;
        opacity: 0.4;
        position: absolute;
        right: 4px;
        top: 4px;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
      @media (min-width: 768px) {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.jsxc-window-fade {
  display: flex;
  flex-direction: column;
  height: 320px;
  max-width: 100%;
  min-height: 320px;
  min-width: $default-window-width;
  overflow: hidden;
  position: relative;
  touch-action: none;
  transform: none !important;
  width: $default-window-width;

  &:not(&--resizing) {
    transition: height 0.2s;
  }

  .jsxc-minimized & {
    height: 0 !important;
    min-height: 0;
    min-width: 100%;
  }
}

.jsxc-preview {
  flex-shrink: 0;
  font-size: 0.8em;
  max-height: 130px;
  overflow: hidden;
  text-align: center;

  .jsxc-attachment {
    margin: 10px;
    position: relative;
  }

  .jsxc-image {
    border-radius: 5px;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;

    img {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }
  }
}

.jsxc-delete-handle {
  background-color: #dc4c4c;
  border: 3px solid #f5f5f5;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 3em;
  height: 1em;
  line-height: 0.65em;
  margin-right: -10px;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 1em;
  z-index: 100;

  &:hover {
    background-color: #f00;
  }
}

.jsxc-send-area {
  align-items: flex-end;
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-shrink: 0;
  padding: 2px 0;
  width: 100%;

  .jsxc-menu-emoticons,
  .jsxc-file-transfer,
  .jsxc-transfer {
    flex-shrink: 0;
  }

  .jsxc-message-input {
    flex-grow: 1;
  }

  &.jsxc-contains-val {
    .jsxc-file-transfer,
    .jsxc-transfer {
      display: none;
    }
  }
}

.jsxc-message-input {
  @extend %scrollbar;
  border: 0;
  border-radius: 0;
  box-sizing: content-box;
  display: block;
  font-family: inherit;
  font-size: 1em;
  height: 1.4em;
  line-height: 1.4em;
  margin: 0;
  min-height: auto;
  outline: none;
  padding: 10px 5px 5px 0;
  resize: none;
  transition: height 0.2s;

  &::placeholder {
    color: $window-placeholder;
    opacity: 0.3;
  }

  .jsxc-large-send-area & {
    height: 100px;
  }
}

.jsxc-file-transfer {
  background-image: url("../images/attachment.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.3em;
  cursor: pointer;
  height: 40px;
  opacity: 0.3;
  overflow: hidden;
  position: relative;
  width: 44px;

  label {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 0;
  }

  &:hover {
    opacity: 0.5;
  }
  @media (min-width: 768px) {
    width: 34px;
  }
}

.jsxc-chatmessage {
  background-color: $chatmessage-bg;
  border-radius: 0.8em;
  clear: both;
  font-size: 1em;
  margin: 3px;
  outline: none;
  padding: 0.5em 0.7em;
  position: relative;
  word-wrap: break-word;

  &__footer {
    clear: both;
    color: $chatmessage-footer;
    display: flex;
    font-size: 0.8em;
    line-height: 1.2em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;

    .jsxc-timestamp {
      margin-right: 0.3em;
    }
  }

  &.jsxc-error {
    .jsxc-content {
      opacity: 0.7;
    }

    &::before {
      background-color: #ff0;
      border-radius: 50%;
      box-shadow: 0 0 2px #000;
      color: #f00;
      content: "⚠";
      font-size: 1em;
      height: 1.2em;
      line-height: 1em;
      position: absolute;
      right: -2px;
      text-align: center;
      top: -2px;
      width: 1.2em;
    }
  }

  p {
    clear: both;
    font-size: 1em;
    margin: 0;

    + p {
      margin-top: 0.7em;
    }
  }

  a {
    color: $chatmessage-a;
    display: inline-block;
    max-width: 100%;
    position: relative;
    text-decoration: underline;

    &[download]::before {
      background-color: rgba(255, 255, 255, 0.7);
      background-image: url("../images/download_icon_black.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 3em;
      border-radius: 3px;
      bottom: 5px;
      content: " ";
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.5s;
    }

    &[download]:hover {
      &::before {
        opacity: 0.6;
      }
    }

    &.jsxc-geo {
      background-color: #fff;
      border-radius: 0.8em;
      display: block;
      padding: 1em 1em 1em 3em;

      &::before {
        background-color: #fff;
        background-image: url("../images/location_icon.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 2em;
        margin-left: -2em;
        vertical-align: bottom;
        width: 2em;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .jsxc-avatar {
    display: none;
  }

  .jsxc-quote {
    border-left: 3px solid #999;
    display: inline-block;
    opacity: 0.7;
    padding: 0 3px 0 5px;
    width: 100%; // margin-bottom: 5px;
  }
}

.jsxc-attachment {
  background-color: #fff;
  background-image: url("../images/filetypes/file.svg");
  background-position: 3px center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-radius: 3px;
  margin-bottom: 5px;
  min-height: 30px;
  padding: 3px 3px 3px 30px;

  img {
    border-radius: 3px;
  }

  &[data-progress]::after {
    content: attr(data-progress);
    display: block;
    font-size: 0.7em;
    line-height: 1;
    opacity: 0.5;
    text-align: right;
  }

  &[data-progress="100%"]::after {
    content: none;
  }

  &.jsxc-image {
    background-image: url("../images/filetypes/image.svg");

    &.jsxc-image-jpeg,
    &.jsxc-image-jpg,
    &.jsxc-image-svg,
    &.jsxc-image-gif,
    &.jsxc-image-png {
      background-image: url("");
      display: inline-block;
      line-height: 0;
      padding: 0;
    }
  }

  &.jsxc-application {
    background-image: url("../images/filetypes/application.svg");
  }

  &.jsxc-application-pdf {
    background-image: url("../images/filetypes/application-pdf.svg");
  }

  &.jsxc-audio {
    background-image: url("../images/filetypes/audio.svg");
  }

  &.jsxc-video {
    background-image: url("../images/filetypes/video.svg");
    opacity: 1;
  }

  &.jsxc-text {
    background-image: url("../images/filetypes/text.svg");
  }
}

.jsxc-chatmessage.jsxc-encrypted {
  .jsxc-transfer {
    background-image: url("../images/padlock_close_grey.svg");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 1em;
    content: " ";
    display: inline-block;
    height: 1em;
    width: 1em;
  }
}

.jsxc-mark::before {
  height: 1em;

  [data-mark="aborted"] & {
    color: rgb(255, 0, 0);
    content: "✖";
    font-size: 12px;
    line-height: 12px;
  }

  [data-mark="pending"] & {
    animation: jsxc-rotate 1.1s infinite linear;
    border: 0.15em solid rgba(0, 0, 0, 0.2);
    border-left-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    content: "";
    display: inline-block;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    vertical-align: sub;
    width: 1em;
  }

  [data-mark="transferred"] & {
    color: $chatmessage-received;
    content: "✓";
    filter: grayscale(1);
    font-size: 12px;
    line-height: 12px;
    opacity: 0.6;
  }

  [data-mark="received"] & {
    color: $chatmessage-received;
    content: "✓✓";
    font-size: 12px;
    letter-spacing: -0.5em;
    line-height: 12px;
    padding-right: 0.5em;
  }

  [data-mark="displayed"] & {
    color: $chatmessage-received;
    content: "👁️";
    font-size: 12px;
    line-height: 12px;
  }

  [data-mark="acknowledged"] & {
    color: $chatmessage-received;
    content: "☑️";
    font-size: 12px;
    line-height: 12px;
  }
}

.jsxc-received {
  .jsxc-timestamp::after {
    color: $chatmessage-received;
    content: "✓";
    font-size: 12px;
    line-height: 12px;
  }
}

.jsxc-unread {
  .jsxc-timestamp::before {
    background-color: $unread-bg;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 0.8em;
    margin-right: 2px;
    width: 0.8em;
  }
}

.jsxc-in,
.jsxc-probably_in {
  align-self: flex-start;
  margin-left: 0.5em;
  max-width: 76%;
  position: relative;

  .jsxc-timestamp {
    float: left;
  }
}

.jsxc-in {
  background-color: var(--jsxc-message-bg);

  &.jsxc-light .jsxc-chatmessage__footer {
    color: #5d5d5d;
  }

  &.jsxc-dark .jsxc-chatmessage__footer {
    color: #ececec;
  }
}

.jsxc-out,
.jsxc-probably_out {
  align-self: flex-end;
  margin-right: 0.5em;
  max-width: 76%;
  position: relative;

  &.jsxc-received {
    &::before {
      bottom: 6px;
      color: $chatmessage-received;
      content: "✓";
      font-size: 12px;
      line-height: 12px;
      position: absolute;
      right: 2px;
    }

    .jsxc-timestamp {
      float: left;
    }
  }

  .jsxc-timestamp {
    float: left;
  }

  .jsxc-chatmessage__footer {
    justify-content: flex-end;
  }
}

.jsxc-out {
  background-color: $chatmessage-out-bg;

  &::after {
    border-color: transparent $chatmessage-out-bg;
  }
}

.jsxc-sys {
  align-self: center;
  background-color: transparent;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 0.8em;
  font-style: italic;
  margin-right: 3px;
  max-width: none;
  padding-right: 4px;
  text-align: center;
  width: auto;

  .jsxc-emoticon {
    height: 1.2em;
    vertical-align: middle;
    width: 1.2em;
  }

  .jsxc-chatmessage__footer {
    justify-content: center;
  }

  &.jsxc-composing {
    display: block;
    font-size: 0.9em;
    font-style: italic;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    transition: opacity 0.6s;

    &::before {
      background-image: url("../images/composing.png");
      background-repeat: no-repeat;
      background-size: 80%;
      content: " ";
      display: inline-block;
      height: 1em;
      margin: 0 3px 0 0;
      width: 1.5em;
    }

    &.jsxc-fadein {
      opacity: 1;
    }
  }
}

.jsxc-menu.jsxc-transfer {
  position: relative;
  width: 44px;
  z-index: 20;

  &:hover {
    .jsxc-transfer-icon {
      opacity: 0.5;
    }
  }

  &--loading::after {
    animation: jsxc-rotate 1s infinite;
    border: 10px solid rgba(255, 255, 255, 0.7);
    border-left-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border-right-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    content: "";
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px;
  }

  .jsxc-transfer-icon {
    background-image: url("../images/padlock_open_black.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.3em;
    cursor: pointer;
    display: block;
    height: 100%;
    opacity: 0.3;
    width: 100%;
  }

  &.jsxc-disabled {
    .jsxc-transfer-icon {
      background-image: url("../images/padlock_open_disabled_black.svg");
      cursor: default;
    }

    &:hover {
      .jsxc-transfer-icon {
        opacity: 0.3;
      }
    }
  }

  &.jsxc-fin {
    .jsxc-transfer-icon {
      background-image: url("../images/padlock_close_grey.svg");
      opacity: 1;
    }
  }

  &.jsxc-enc {
    .jsxc-transfer-icon {
      background-image: url("../images/padlock_close_orange.svg");
      opacity: 1;
    }

    &.jsxc-trust {
      .jsxc-transfer-icon {
        background-image: url("../images/padlock_close_green.svg");
      }
    }
  }

  @media (min-width: 768px) {
    width: 34px;
  }
}

.jsxc-mam-load-more {
  display: none;
  font-size: 0.8em;
  height: 42px;
  left: 0;
  line-height: 42px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -42px;
  transition: top 0.5s;
  user-select: none;
  z-index: 80;

  span {
    background-color: #e4e4e4;
    cursor: pointer;
    padding: 5px 10px;

    &:hover {
      background-color: #dfcfcf;
      opacity: 1;
    }
  }

  &.jsxc-show {
    top: 0;
  }
}

.jsxc-mam-enabled {
  .jsxc-mam-load-more {
    display: block;
  }

  .jsxc-message-area::after {
    content: "";
    display: block;
    padding-top: 42px;
  }
}
