body {
   padding-top: 30px;
}

.logout {
   display: none;
}

.jsxc-org, .localhost {
   display: none;
}

#content form .alert {
   display: none;
}

#content h3 {
   border-bottom: 1px solid #e5e5e5;
   margin-bottom: 20px;
}

#content .col-md-4 .form {
   min-height: 180px;
}

#content .row:first-child {
   margin-bottom: 30px;
}

#content .col-md-4>p {
   margin-bottom: 30px;
}

#server-flash {
   margin: 0;
   margin-top: 10px;
}

#server-flash:before {
   content: "\e031";
   position: relative;
   top: 1px;
   padding-right: 5px;
   display: inline-block;
   font-family: 'Glyphicons Halflings';
   font-style: normal;
   font-weight: 400;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
}

#server-flash.success:before {
   content: "\e089";
   color: green;
}

#server-flash.fail:before {
   content: "\e088";
   color: red;
}

details {
    padding: 1em;
    margin-bottom: 1em;
}

summary {
    margin: -1em -1em 1em -1em;
    cursor: pointer;
}

body {
    border-top: 5px solid transparent;
}

body.jsxc-master {
   border-top: 5px solid green;
}

body.jsxc-slave {
   border-top: 5px solid orange;
}
