@keyframes jsxc-bounce-6 {
   0%   { transform: scale(1,1)      translateY(0); }
   10%  { transform: scale(1.1,.9)   translateY(0); }
   30%  { transform: scale(.9,1.1)   translateY(-10px); }
   50%  { transform: scale(1.05,.95) translateY(0); }
   57%  { transform: scale(1,1)      translateY(-1px); }
   64%  { transform: scale(1,1)      translateY(0); }
   100% { transform: scale(1,1)      translateY(0); }
}
@keyframes jsxc-establishing {
   0% {
      border-width: 0;
      background-color: $establishingColor1;
      width: 40px;
      margin-left: -20px;
   }

   50% {
      background-color: $establishingColor2;
      width: 80px;
      margin-left: -40px;
   }

   100% {
      border-width: 0;
      background-color: $establishingColor1;
      width: 40px;
      margin-left: -20px;
   }
}
@keyframes jsxc-ringing {
   0% {
      background-color: $ringingColor1;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
   }

   50% {
      background-color: $ringingColor2;
      width: 80px;
      height: 80px;
      margin-left: -40px;
      margin-top: -40px;
   }

   100% {
      background-color: $ringingColor1;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -10px;
   }
}

@keyframes jsxc-rotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
