$black: #000;
$gray10: lighten($black, 10%);
$gray20: lighten($black, 20%);
$gray30: lighten($black, 30%);
$gray40: lighten($black, 40%);
$gray50: lighten($black, 50%);
$gray60: lighten($black, 60%);
$gray70: lighten($black, 70%);
$gray80: lighten($black, 80%);
$gray90: lighten($black, 90%);
$white: #fff;
$orange: #ffa500;
$red: #f00;
$blue: #00f;

$warning-bg: #f5e876;
$warning-bg-hover: #f2e35d;

$shadow: $black;
$separator: $black;
$invalid-border: $red;
$name-hover: #333;
$dialog-fieldset-border: $gray80;
$dialog-input-invalid: $red;
$dialog-input-readonly-bg: $gray90;
$spot-bg: $white;
$spot-border: $black;

$state-online: #008000;
$state-chat: #008000;
$state-away: $orange;
$state-xa: $orange;
$state-dnd: $red;
$state-offline: $gray60;

$presence-colors: (
  online: #008000,
  chat: #008000,
  away: $orange,
  xa: $orange,
  dnd: $red,
  offline: $gray60
);

$notice-bg: $orange;
$notice-color: $black;
$window-unread-cycle: $orange;
$window-bar-bg: #1d2d44;
$window-bar-color: #bbb;
$window-bar-color-hover: #fff;
$window-min-bar-bg: #eee;
$window-min-bar-color: #000;
$window-bg: rgb(245, 245, 245);
$window-border: #e1e1e1;
$window-gradient: $gray60;
$window-placeholder: $black;

$tools-color: #fff;
$window-close-hover: #fff;

$chatmessage-bg: $white;
$chatmessage-a: $blue;
$chatmessage-footer: $gray60;
$chatmessage-in-bg: #dbedff;
$chatmessage-in-border: #a6b8c9;
$chatmessage-out-bg: #ececec;
$chatmessage-out-border: #c2c2c2;
$chatmessage-received: #008000;
$chatmessage-chatmarkers-false: #000;
$chatmessage-chatmarkers-true: #008000;

$window-settings-bg: $gray10;
$window-settings-border-top: $gray80;
$window-settings-disabled: $gray30;
$window-settings-bg-hover: #3f8fba;
$window-settings-color-hover: $white;

$scrollbar-bg: $gray80;
$scrollbar-color: $gray50;
$scrollbar-bg-hover: $gray70;
$scrollbar-bg-disabled: $gray90;
$scrollbar-color-disabled: $gray80;

$emoticon-selection-bg: rgba($gray20, 0.8);
$emoticon-selection-hover: rgba($white, 0.8);

$roster-bg: rgb(245, 245, 245);
$roster-bg-hover: #ddd;
$roster-input-bg: $white;
$roster-input-shadow: $gray40;
$roster-color: #333;
$roster-a: $gray70;
$roster-icon-bg: rgba($gray40, 0.5);
$roster-icon-color: $gray70;

$roster-toggle-hover: rgba($gray60, 0.5);

$roster-border-left: #d7d7d7;
$roster-bottom-border-top: transparent;
$roster-bottom-bg: rgb(238, 238, 238);
$roster-bottom-color: #000;
$roster-bottom-disabled: $gray20;
$roster-bottom-bg-hover: #ddd;
$roster-bottom-color-hover: #000;

$fullscreen-bg: $gray60;
$video-status-bg: rgba($black, 0.5);
$video-status-color: $white;
$video-bg: $gray60;

$novideo-color: $white;
$novideo-bg: $gray30;

$establishing-color1: #a1a1a1;
$establishing-color2: #f1f1f1;
$ringing-color1: #98d48f;
$ringing-color2: #76ba6c;

$avatar-bg: $gray60;
$avatar-color: $gray70;

$login-form-bg: #5cb85c;
$login-form-border: #4cae4c;

$unread-bg: $orange;
$unread-color: $black;
