$presences: online chat away xa dnd;

@mixin presenceIndicator($target) {

    @each $presence in $presences {
      [data-presence="#{$presence}"]#{$target} {
         &:before {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            line-height: 12px;
            text-align: center;
            color: #fff;
            z-index: 99;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            box-sizing: content-box;
            background-image: url("../images/presence_#{$presence}.svg");
            background-color: map-get($presenceColors, $presence);
         }
      }
   }
}
